.div-upload {
    width: 200px !important;
    height: 200px !important;
    margin-left: auto;
    margin-right: 0;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed #ccc;
    cursor: pointer;
    &:hover {
        border: 1px dashed #0069D9;
    }

    .anticon {
        font-size: 24px;
    }
}

.avatar {
    width: 200px !important;
    height: 200px !important;
    margin-left: auto;
    margin-right: 0;
}

.ant-btn-circle {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 25px;
    height: 25px;
}
