<nz-breadcrumb style="margin:16px 0;">
  <nz-breadcrumb-item>Trang chủ</nz-breadcrumb-item>
  <nz-breadcrumb-item>Danh mục</nz-breadcrumb-item>
  <nz-breadcrumb-item>Nhân sự</nz-breadcrumb-item>
</nz-breadcrumb>

<div style="padding:24px; background: #fff; min-height: 70vh">
  <div nz-row style="margin-bottom: 0.5rem">
    <div nz-col nzSpan="8">
      <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
        <input type="text" nz-input placeholder="Tìm kiếm..." #keyword (keyup.enter)="search(keyword.value)">
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch (click)="search(keyword.value)"><i nz-icon
            type="search"></i></button>
      </ng-template>
    </div>
    <div nz-col nzSpan="8" nzOffset="8" class="text-right">
      <button nz-button nzType="primary" (click)="addNew()">
        <i nz-icon type="plus" theme="outline"></i> Thêm
      </button>
    </div>
  </div>

  <nz-table #table nzShowSizeChanger [nzShowPagination]="pagination.totalPages > 1" [nzFrontPagination]="false"
    [nzData]="dataSet" [nzLoading]="loading" [nzTotal]="pagination.totalItems" [(nzPageIndex)]="pagination.currentPage"
    [(nzPageSize)]="pagination.itemsPerPage" [nzNoResult]="'Không tìm thấy kết quả.'" (nzPageIndexChange)="loadData()"
    (nzPageSizeChange)="loadData(true)" nzShowQuickJumper [nzShowTotal]="rangeTemplate">
    <ng-template #rangeTemplate let-range="range" let-total>
      {{range[0]}}-{{range[1]}} của {{total}} bản ghi
    </ng-template>
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzWidth="20%" nzShowSort nzSortKey="hoTen">Họ tên</th>
        <th nzWidth="15%" nzShowSort nzSortKey="ngaySinh">Ngày sinh</th>
        <th nzWidth="30%" nzShowSort nzSortKey="queQuan">Quê quán</th>
        <th nzWidth="15%" nzShowSort nzSortKey="danToc">Dân tộc</th>
        <th nzWidth="20%">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of table.data">
        <td>{{data.hoTen}}</td>
        <td>{{data.ngaySinh | date:'dd/MM/yyyy'}}</td>
        <td>{{data.queQuan}}</td>
        <td>{{data.danToc}}</td>
        <td>
          <nz-button-group>
            <button nz-button nzType="default" class="btn-info" nz-tooltip nzTitle="Sửa" (click)="update(data.maNS)">
              <i nz-icon type="edit" theme="outline"></i>
            </button>
            <button nz-button nzType="default" class="btn-primary" nz-tooltip nzTitle="Xem" (click)="view(data)">
              <i nz-icon type="eye" theme="outline"></i>
            </button>
            <button nz-button nzType="default" class="btn-danger" nz-tooltip nzTitle="Xóa" (click)="delete(data.maNS)">
              <i nz-icon type="delete" theme="outline"></i>
            </button>
          </nz-button-group>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>