<nz-breadcrumb style="margin:16px 0;">
  <nz-breadcrumb-item>Trang chủ</nz-breadcrumb-item>
  <nz-breadcrumb-item>Nghiệp vụ</nz-breadcrumb-item>
  <nz-breadcrumb-item>Tìm kiếm vật tư chi tiết</nz-breadcrumb-item>
</nz-breadcrumb>

<div style="padding:24px; background: #fff; min-height: 70vh">
  <div>
    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        Vật tư: <strong>{{material.tenVT}}</strong>
      </div>
    </div>
  </div>
  <br />
  <div nz-row nzGutter="8">
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
      <app-card-import-detail></app-card-import-detail>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
      <app-card-export-detail></app-card-export-detail>
    </div>
  </div>
  <br />
  <div nz-row>
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
      <app-card-inventory></app-card-inventory>
    </div>
  </div>
</div>