<nz-breadcrumb style="margin:16px 0;">
  <nz-breadcrumb-item>Trang chủ</nz-breadcrumb-item>
  <nz-breadcrumb-item>Nghiệp vụ</nz-breadcrumb-item>
  <nz-breadcrumb-item>Xuất</nz-breadcrumb-item>
  <nz-breadcrumb-item>Xuất vật tư</nz-breadcrumb-item>
</nz-breadcrumb>

<div style="padding:24px; background: #fff; min-height: 70vh">
  <form nz-form [formGroup]="exportMaterialForm" (ngSubmit)="saveChanges()" autocomplete="off">
    <nz-card style="width:100%;" nzTitle="Xuất vật tư" [nzExtra]="extraTemplate">
      <table style="width: 100%;">
        <tr>
          <td style="width: 10%;">
            <nz-form-label nzRequired nzFor="maKho">Kho hàng</nz-form-label>
          </td>
          <td style="width: 20%">
            <nz-form-control>
              <nz-select nzDisabled nzShowSearch nzAllowClear nzPlaceHolder="Chọn kho hàng" formControlName="maKho"
                id="maKho" (ngModelChange)="changeMaterialStore($event)">
                <nz-option *ngFor="let item of materialStores" [nzValue]="item.maKho" [nzLabel]="item.tenKho">
                </nz-option>
              </nz-select>
              <nz-form-explain *ngIf="exportMaterialForm.get('maKho').dirty && exportMaterialForm.get('maKho').errors">
                <ng-container *ngIf="exportMaterialForm.get('maKho').hasError('required')">
                  Vui lòng chọn kho hàng!
                </ng-container>
              </nz-form-explain>
            </nz-form-control>
          </td>
          <td style="width: 10%;">
            <nz-form-label nzRequired nzFor="maNS">Nhân sự</nz-form-label>
          </td>
          <td style="width: 30%;">
            <nz-form-control>
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn nhân sự" formControlName="maNS" id="maNS">
                <nz-option *ngFor="let item of personnels" [nzValue]="item.maNS" [nzLabel]="item.hoTen"></nz-option>
              </nz-select>
              <nz-form-explain *ngIf="exportMaterialForm.get('maNS').dirty && exportMaterialForm.get('maNS').errors">
                <ng-container *ngIf="exportMaterialForm.get('maNS').hasError('required')">
                  Vui lòng chọn nhân sự!
                </ng-container>
              </nz-form-explain>
            </nz-form-control>
          </td>
          <td style="width: 10%;">
            <nz-form-label nzRequired nzFor="ngayNhap">Ngày nhập</nz-form-label>
          </td>
          <td style="width: 20%;">
            <nz-form-control>
              <input type="date" nz-input formControlName="ngayNhap" id="ngayNhap" />
              <nz-form-explain
                *ngIf="exportMaterialForm.get('ngayNhap').dirty && exportMaterialForm.get('ngayNhap').errors">
                <ng-container *ngIf="exportMaterialForm.get('ngayNhap').hasError('required')">
                  Vui lòng chọn ngày xuất!
                </ng-container>
              </nz-form-explain>
            </nz-form-control>
          </td>
        </tr>
        <tr>
          <td>
            <nz-form-label nzFor="maHM">Chiết khấu</nz-form-label>
          </td>
          <td>
            <nz-form-control>
              <nz-input-number formControlName="chietKhau" [nzMin]="0" [nzMax]="100" [nzStep]="1"
                [nzFormatter]="formatterPercent" [nzParser]="parserPercent"></nz-input-number>
            </nz-form-control>
          </td>
          <td>
            <nz-form-label nzFor="ghiChu">Ghi chú</nz-form-label>
          </td>
          <td colspan="3">
            <nz-form-control>
              <textarea nz-input formControlName="ghiChu" id="ghiChu"></textarea>
            </nz-form-control>
          </td>
        </tr>
        <tr>
          <td colspan="6" style="text-align: right;">
            <button type="button" nz-button nzType="default" [routerLink]="['/admin/nghiep-vu/danh-sach-phieu-xuat']">
              <i nz-icon type="close" theme="outline"></i> Hủy
            </button>
            <button [disabled]="!exportMaterialForm.dirty" type="submit" nz-button nzType="primary"
              style="margin-left:1rem;">
              <i nz-icon type="save" theme="outline"></i> Lưu
            </button>
          </td>
        </tr>
      </table>
    </nz-card>
    <ng-template #extraTemplate>
        <button type="button" nzSize="small" nz-tooltip nzTitle="Tạo phiếu xuất" nz-button nzType="primary"
          [routerLink]="['/admin/nghiep-vu/tao-phieu-xuat']"><i nz-icon type="plus" theme="outline"></i>
        </button>
      </ng-template>
  </form>
  <br />
  <nz-card style="width:100%;" nzTitle="Danh sách tồn kho" *ngIf="inventories.length > 0">
    <div nz-row style="margin-bottom: 0.5rem">
      <div nz-col nzSpan="8">
        <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
          <input type="text" nz-input placeholder="Tìm kiếm..." #keywordInventory
            (keyup.enter)="searchInventory(keywordInventory.value)">
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch (click)="searchInventory(keywordInventory.value)"><i nz-icon
              type="search"></i></button>
        </ng-template>
      </div>
      <div nz-col nzSpan="8" nzOffset="8" class="text-right">
      </div>
    </div>
    <nz-table #inventoryTable [nzData]="inventories" nzBordered [nzLoading]="loadingInventories"
      [nzShowPagination]="false" nzSize="middle">
      <thead>
        <tr>
          <th nzWidth="40%">Vật tư</th>
          <th nzWidth="30%">Mã phiếu nhập</th>
          <th nzWidth="20%">Số lượng tồn</th>
          <th nzWidth="10%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of inventoryTable.data">
          <td>{{data.tenVatTu}}</td>
          <td class="text-center">{{data.maPhieuNhap}}</td>
          <td class="text-center">{{data.soLuongTon}}</td>
          <td class="text-center">
            <button nz-button nzType="primary" nzSize="small" nz-tooltip nzTitle="Xuất" (click)="exportMaterial(data)" *ngIf="data.soLuongTon > 0">
              <i nz-icon type="caret-down" theme="outline"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>
  <br />
  <nz-card style="width:100%;" nzTitle="Danh sách xuất vật tư" *ngIf="exportMaterialDetails.length > 0">
    <nz-table #exportDetailTable [nzData]="exportMaterialDetails" nzBordered [nzLoading]="loadingExportDetails"
      [nzShowPagination]="false" nzSize="middle">
      <thead>
        <tr>
          <th nzWidth="10%"></th>
          <th nzWidth="20%">Vật tư</th>
          <th nzWidth="10%">Mã PN</th>
          <th nzWidth="10%">ĐVT</th>
          <th nzWidth="10%">Ghi chú</th>
          <th nzWidth="10%">SL xuất</th>
          <th nzWidth="15%">Đơn giá</th>
          <th nzWidth="15%">Thành tiền</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of exportDetailTable.data">
          <td class="text-center">
            <nz-button-group>
              <button nz-button nzType="default" class="btn-info" nz-tooltip nzTitle="Sửa"
                (click)="updateExportDetail(data)">
                <i nz-icon type="edit" theme="outline"></i>
              </button>
              <button nz-button nzType="default" class="btn-danger" nz-tooltip nzTitle="Xóa"
                (click)="deleteExportDetail(data)">
                <i nz-icon type="delete" theme="outline"></i>
              </button>
            </nz-button-group>
          </td>
          <td>{{data.tenVT}}</td>
          <td class="text-center">{{data.maPhieuNhap}}</td>
          <td class="text-center">{{data.tenDVT}}</td>
          <td>{{data.ghiChu}}</td>
          <td class="text-center">{{data.soLuongXuat}}</td>
          <td class="text-right">{{data.donGia | number: '1.0-0'}}</td>
          <td class="text-right">{{(data.soLuongXuat * data.donGia) | number: '1.0-0'}}</td>
        </tr>
        <tr class="bg-footer-price">
          <td colspan="7" class="text-right">
            <strong>Tổng cộng:</strong>
          </td>
          <td class="text-right">
            <strong>{{totalAmount | number: '1.0-0'}}</strong>
          </td>
        </tr>
        <tr class="bg-footer-price">
          <td colspan="7" class="text-right">Giảm trừ {{discount}}%:</td>
          <td class="text-right">{{discountPrice | number: '1.0-0'}}</td>
        </tr>
        <tr class="bg-footer-price">
          <td colspan="7" class="text-right">
            <strong>Giá trị thực:</strong>
          </td>
          <td class="text-right">
            <strong>{{totalAmountAfterDiscount | number: '1.0-0'}}</strong>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>
</div>