<nz-breadcrumb style="margin:16px 0;">
  <nz-breadcrumb-item>Trang chủ</nz-breadcrumb-item>
  <nz-breadcrumb-item>Nghiệp vụ</nz-breadcrumb-item>
  <nz-breadcrumb-item>Xuất</nz-breadcrumb-item>
  <nz-breadcrumb-item>Xuất vật tư</nz-breadcrumb-item>
</nz-breadcrumb>

<div style="padding:24px; background: #fff; min-height: 70vh">
  <form [formGroup]="exportMaterialForm" id="exportMaterialForm" (ngSubmit)="saveChanges()" novalidate>
    <div class="row mb-2">
      <div class="col-md-4 col-sm-12">
      </div>
      <div class="col-md-8 col-sm-12 text-right">
      </div>
    </div>
    <nz-card style="width:100%;" nzTitle="Xuất vật tư" formGroupName="mxuatvattu">
      <div class="form-group row">
        <label for="ddlMaKho" class="col-sm-2 col-form-label">Tên kho (*)</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" [value]="getStoreName()">
          <div class="invalid-feedback">
            <div *ngIf="exportMaterialForm.get('mxuatvattu.maKho').hasError('required')">
              Vui lòng chọn tên kho!
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="ddlMaNS" class="col-sm-2 col-form-label">Nhân sự (*)</label>
        <div class="col-sm-10">
          <select id="ddlMaNS" class="form-control" formControlName="maNS" [ngClass]="{
                'is-invalid': exportMaterialForm['controls'].mxuatvattu['controls']['maNS'].errors && (submitted || exportMaterialForm['controls'].mxuatvattu['controls']['maNS'].dirty || exportMaterialForm['controls'].mxuatvattu['controls']['maNS'].touched)
              }">
            <option *ngFor="let item of personnels" [value]="item.maNS">
              {{item.hoTen}}
            </option>
          </select>
          <div class="invalid-feedback">
            <div *ngIf="exportMaterialForm.get('mxuatvattu.maNS').hasError('required')">
              Vui lòng chọn nhân sự!
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="txtNgayNhap" class="col-sm-2 col-form-label">Ngày nhập (*)</label>
        <div class="col-sm-10">
          <input id="txtNgayNhap" type="date" class="form-control" formControlName="ngayNhap" [ngClass]="{
              'is-invalid': exportMaterialForm['controls'].mxuatvattu['controls']['ngayNhap'].errors && (submitted || exportMaterialForm['controls'].mxuatvattu['controls']['ngayNhap'].dirty || exportMaterialForm['controls'].mxuatvattu['controls']['ngayNhap'].touched)
            }" />
          <div class="invalid-feedback">
            <div *ngIf="exportMaterialForm.get('mxuatvattu.ngayNhap').hasError('required')">
              Vui lòng nhập ngày nhập!
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="txtGhiChu" class="col-sm-2 col-form-label">Ghi chú</label>
        <div class="col-sm-10">
          <textarea id="txtGhiChu" class="form-control" formControlName="ghiChu" [ngClass]="{
            'is-invalid': exportMaterialForm['controls'].mxuatvattu['controls']['ghiChu'].errors && (submitted || exportMaterialForm['controls'].mxuatvattu['controls']['ghiChu'].dirty || exportMaterialForm['controls'].mxuatvattu['controls']['ghiChu'].touched)
          }"></textarea>
        </div>
      </div>
    </nz-card>
    <br />
    <nz-card style="width:100%;" nzTitle="Xuất chi tiết vật tư" formArrayName="listxuatchitiet">
      <div style="overflow-x: auto;">
        <table class="table table-bordered" style="width: 100%;">
          <thead>
            <tr>
              <th>#</th>
              <th>Tên vật tư (*)</th>
              <th>Phiếu nhập (*)</th>
              <th>Số lượng xuất (*)</th>
              <th>Đơn giá (*)</th>
              <th>Ghi chú</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of exportMaterialForm.get('listxuatchitiet')['controls']; let i = index"
              [formGroupName]="i">
              <td>
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteRow(i, item.value)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
              <td>
                <p>{{item.value.tenVT}}</p>
              </td>
              <td>
                <p>{{item.value.maPhieuNhap}}</p>
              </td>
              <td>
                <input type="number" class="form-control" formControlName="soLuongXuat" [ngClass]="{
                  'is-invalid': exportMaterialForm.controls.listxuatchitiet.controls[i].controls['soLuongXuat'].errors && (submitted || exportMaterialForm.controls.listxuatchitiet.controls[i].controls['soLuongXuat'].dirty || exportMaterialForm.controls.listxuatchitiet.controls[i].controls['soLuongXuat'].touched)
                }"
                  (blur)="checkStatus(i, item.value.maVatTu, item.value.maPhieuNhap, $event.target.value)" />
                <div class="invalid-feedback">
                  <div *ngIf="item.hasError('required', 'soLuongXuat')">
                    Vui lòng nhập số lượng!
                  </div>
                  <div *ngIf="item.hasError('invalid', 'soLuongXuat') as error">
                      Nhập SL <= {{ item.controls.soLuongXuat.errors.quantity }} (SL nhập)
                  </div>
                </div>
              </td>
              <td>
                <input currencyMask type="text" class="form-control" formControlName="donGia" [ngClass]="{
                  'is-invalid': exportMaterialForm.controls.listxuatchitiet.controls[i].controls['donGia'].errors && (submitted || exportMaterialForm.controls.listxuatchitiet.controls[i].controls['donGia'].dirty || exportMaterialForm.controls.listxuatchitiet.controls[i].controls['donGia'].touched)
                }" />
                <div class="invalid-feedback">
                  <div *ngIf="item.hasError('required', 'donGia')">
                    Vui lòng nhập số lượng!
                  </div>
                  <div *ngIf="item.hasError('isNegative', 'donGia') && !item.hasError('required', 'donGia')">
                    Vui lòng nhập không âm!
                  </div>
                </div>
              </td>
              <td>
                <input type="text" class="form-control" formControlName="ghiChu" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nz-card>
    <div class="row mt-4 px-3">
      <button type="submit" class="btn btn-primary btn-block">
        Lưu
      </button>
    </div>
  </form>
</div>