<nz-breadcrumb style="margin:16px 0;">
  <nz-breadcrumb-item>Trang chủ</nz-breadcrumb-item>
  <nz-breadcrumb-item>Danh mục</nz-breadcrumb-item>
  <nz-breadcrumb-item>Đơn vị tính</nz-breadcrumb-item>
</nz-breadcrumb>

<div style="padding:24px; background: #fff; min-height: 70vh">
  <div class="row mb-2">
    <div class="col-md-4 col-sm-12">
      
    </div>
    <div class="col-md-8 col-sm-12 text-right">
      <button class="btn btn-success mr-1" (click)="addNew()">
        <i class="fa fa-plus"></i> Thêm mới
      </button>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th style="width: 15%;">STT</th>
        <th style="width: 70%;">Tên đơn vị tính</th>
        <th style="width: 15%;">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let unit of units; let i = index">
        <td>{{i + 1}}</td>
        <td>{{unit.tenDVT}}</td>
        <td>
          <button class="btn btn-info btn-sm" nz-tooltip nzTitle="Sửa" (click)="update(unit.maDVT)">
            <i class="fa fa-edit"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>