<div class="container-login">
  <nz-card style="width:350px;" nzTitle="Đăng nhập">
    <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="login()">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group [nzPrefix]="prefixUser">
            <input type="text" nz-input formControlName="userName" placeholder="Tài khoản" autofocus>
          </nz-input-group>
          <nz-form-explain *ngIf="loginForm.get('userName').dirty && loginForm.get('userName').errors">
            <ng-container *ngIf="loginForm.get('userName').hasError('required')">
              Vui lòng nhập tài khoản!
            </ng-container>
            <ng-container *ngIf="loginForm.get('userName').hasError('notExists')">
              Tài khoản không tồn tại!
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group [nzPrefix]="prefixLock">
            <input type="password" nz-input formControlName="password" placeholder="Mật khẩu">
          </nz-input-group>
          <nz-form-explain *ngIf="loginForm.get('password').dirty && loginForm.get('password').errors">
            <ng-container *ngIf="loginForm.get('password').hasError('required')">
              Vui lòng nhập mật khẩu!
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item style="margin-bottom: 0;">
        <nz-form-control>
          <button nz-button nzBlock [nzType]="'primary'" [nzLoading]="isLoading">ĐĂNG NHẬP</button>
        </nz-form-control>
      </nz-form-item>
    </form>
    <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
    <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
  </nz-card>
</div>