<nz-breadcrumb style="margin:16px 0;">
  <nz-breadcrumb-item>Trang chủ</nz-breadcrumb-item>
  <nz-breadcrumb-item>Nghiệp vụ</nz-breadcrumb-item>
  <nz-breadcrumb-item>Xuất</nz-breadcrumb-item>
  <nz-breadcrumb-item>Danh sách phiếu xuất</nz-breadcrumb-item>
</nz-breadcrumb>

<div style="padding:24px; background: #fff; min-height: 70vh">
  <div class="row mb-2">
    <div class="col-md-4 col-sm-12">

    </div>
    <div class="col-md-8 col-sm-12 text-right">
      <button class="btn btn-success mr-1" [routerLink]="['/admin/nghiep-vu/xuat-vat-tu']">
        <i class="fa fa-plus"></i> Thêm mới
      </button>
    </div>
  </div>

  <table class="table table-hover ">
    <thead>
      <tr>
        <th class="text-left" nzWidth="15%">STT</th>
        <th class="text-left" nzWidth="20%">Tên kho</th>
        <th class="text-left" nzWidth="20%">Nhân sự</th>
        <th class="text-left" nzWidth="15%">Ngày nhập</th>
        <th class="text-left" nzWidth="10%">Tổng tiền</th>
        <th class="text-left" nzWidth="10%">Tổng lượng</th>
        <th class="text-left" nzWidth="10%">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of exportMaterials; let i = index">
        <td>{{i + 1}}</td>
        <td>{{item.tenKho}}</td>
        <td>{{item.tenNS}}</td>
        <td>{{item.ngayNhap | date:'dd/MM/yyyy'}}</td>
        <td>{{item.tongSoTien}}</td>
        <td>{{item.tongSoLuong}}</td>
        <td>
          <button class="btn btn-info btn-sm" nz-tooltip nzTitle="Sửa" [routerLink]="['/admin/nghiep-vu/sua-phieu-xuat', item.maPhieuXuat]">
            <i class="fa fa-edit"></i>
          </button>
          <nz-divider nzType="vertical"></nz-divider>
          <button class="btn btn-danger btn-sm" nz-tooltip nzTitle="Xóa" (click)="delete(item.maPhieuXuat)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
