<nz-card style="width:100%;" nzTitle="Tồn kho" class="card-in-search-detail">
  <div nz-row style="margin-bottom: 0.5rem;">
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
      <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
        <input type="text" nz-input placeholder="Tìm kiếm..." #keyword (keyup.enter)="search(keyword.value)">
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch (click)="search(keyword.value)">
          <i nz-icon type="search"></i>
        </button>
      </ng-template>
    </div>
  </div>

  <nz-table #table nzShowSizeChanger [nzFrontPagination]="false" [nzData]="dataSet" [nzLoading]="isLoading"
    [nzTotal]="pagination.totalItems" [(nzPageIndex)]="pagination.currentPage" [(nzPageSize)]="pagination.itemsPerPage"
    [nzNoResult]="'Không tìm thấy kết quả.'" (nzPageIndexChange)="loadData()" (nzPageSizeChange)="loadData(true)"
    nzShowQuickJumper [nzShowTotal]="rangeTemplate" nzBordered nzSize="middle" [nzPageSizeOptions]="[5, 10, 15]">
    <ng-template #rangeTemplate let-range="range" let-total>
      {{range[0]}}-{{range[1]}} của {{total}} bản ghi
    </ng-template>
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzWidth="45%" nzShowSort nzSortKey="tenKho">Tên kho</th>
        <th nzWidth="30%" nzShowSort nzSortKey="maPhieuNhap">Mã phiếu nhập</th>
        <th nzWidth="25%" nzShowSort nzSortKey="soLuongTon">Số lượng tồn</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of table.data">
        <td>{{data.tenKho}}</td>
        <td class="text-center">{{data.maPhieuNhap}}</td>
        <td class="text-center">{{data.soLuongTon}}</td>
      </tr>
      <tr>
        <td colspan="2" class="text-center">
          <strong>Tổng</strong>
        </td>
        <td class="text-center">
          <strong>{{totalQuantity | number: '1.0-0'}}</strong>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>