<nz-breadcrumb style="margin:16px 0;">
  <nz-breadcrumb-item>Thống kê báo cáo</nz-breadcrumb-item>
  <nz-breadcrumb-item>Thống kê thanh lý</nz-breadcrumb-item>
  <nz-breadcrumb-item>Xem chi tiết</nz-breadcrumb-item>
</nz-breadcrumb>

<div style="padding:24px; background: #fff; min-height: 70vh">
  <div nz-row nzGutter="16">
    <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
      Vật tư: <strong>{{material.tenVT}}</strong>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="16" nzLg="16" nzXl="16">
      <div nz-row nzGutter="16">
        <div nz-col nzXs="24" nzSm="24" nzMd="9" nzLg="9" nzXl="9">
          <input nz-input type="date" class="from-date" placeholder="Từ ngày" [(ngModel)]="pagingParams.fromDate">
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="9" nzLg="9" nzXl="9">
          <input nz-input type="date" class="to-date" placeholder="Đến ngày" [(ngModel)]="pagingParams.toDate">
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6">
          <button nz-button nzType="primary" nzSearch (click)="searchPeriod()">
            <i nz-icon type="search"></i> Tìm kiếm
          </button>
        </div>
      </div>
    </div>
  </div>
  <br />
  <nz-card style="width:100%;" nzTitle="Thanh lý" class="card-in-search-detail">
    <div nz-row style="margin-bottom: 0.5rem;">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" nz-input placeholder="Tìm kiếm..." #keyword (keyup.enter)="search(keyword.value)">
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch (click)="search(keyword.value)">
            <i nz-icon type="search"></i>
          </button>
        </ng-template>
      </div>
    </div>

    <nz-table #table nzShowSizeChanger [nzFrontPagination]="false" [nzData]="dataSet" [nzLoading]="isLoading"
      [nzTotal]="pagination.totalItems" [(nzPageIndex)]="pagination.currentPage"
      [(nzPageSize)]="pagination.itemsPerPage" [nzNoResult]="'Không tìm thấy kết quả.'" (nzPageIndexChange)="loadData()"
      (nzPageSizeChange)="loadData(true)" nzShowQuickJumper [nzShowTotal]="rangeTemplate" nzBordered nzSize="middle"
      [nzPageSizeOptions]="[5, 10, 15]">
      <ng-template #rangeTemplate let-range="range" let-total>
        {{range[0]}}-{{range[1]}} của {{total}} bản ghi
      </ng-template>
      <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr>
          <th nzWidth="15%" nzShowSort nzSortKey="MaPTL">Mã phiếu TL</th>
          <th nzWidth="20%" nzShowSort nzSortKey="tenKho">Tên kho</th>
          <th nzWidth="15%" nzShowSort nzSortKey="ngayThanhLy">Ngày thanh lý</th>
          <th nzWidth="20%" nzShowSort nzSortKey="dienGiai">Diễn giải</th>
          <th nzWidth="20%" nzShowSort nzSortKey="ghiChu">Ghi chú</th>
          <th nzWidth="10%" nzShowSort nzSortKey="soLuong">Số lượng TL</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of table.data">
          <td class="text-center">{{data.maPTL}}</td>
          <td class="text-center">{{data.tenKho}}</td>
          <td>{{data.ngayThanhLy | date:'dd/MM/yyyy'}}</td>
          <td>{{data.dienGiai}}</td>
          <td>{{data.ghiChu}}</td>
          <td class="text-center">{{data.soLuong}}</td>
        </tr>
        <tr>
          <td colspan="5" class="text-center">
            <strong>Tổng tất cả</strong>
          </td>
          <td class="text-center">
            <strong>{{totalQuantity | number: '1.0-0'}}</strong>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>
</div>