<nz-breadcrumb style="margin:16px 0;">
  <nz-breadcrumb-item>Thống kê báo cáo</nz-breadcrumb-item>
  <nz-breadcrumb-item>Thống kê nhập xuất tồn</nz-breadcrumb-item>
  <nz-breadcrumb-item>Xem chi tiết</nz-breadcrumb-item>
</nz-breadcrumb>

<div style="padding:24px; background: #fff; min-height: 70vh">
  <div nz-row>
    <div nz-col nzXs="24" nzSm="24" nzMd="16" nzLg="16" nzXl="16">
      Vật tư: <strong>{{material.tenVT}}</strong>
      <span style="margin: 0 1rem 0 1rem;"></span>
      Từ ngày: <strong>{{fromDate}}</strong> ->
      Đến ngày: <strong>{{toDate}}</strong>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8" style="text-align: right;">
      Tồn đầu kỳ: <strong>{{tonDauKy}}</strong>
    </div>
  </div>
  <br />
  <div nz-row nzGutter="8">
    <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
      <app-card-import-statistics></app-card-import-statistics>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
      <app-card-export-statistics></app-card-export-statistics>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
      <app-card-liquidation-statistics></app-card-liquidation-statistics>
    </div>
  </div>
  <br />
  <div nz-row>
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" style="text-align: right;">
      Tồn cuối kỳ: <strong>{{tonCuoiKy}}</strong>
    </div>
  </div>
</div>