<form nz-form [formGroup]="personnelForm" (ngSubmit)="saveChanges()" autocomplete="off">
  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="hoTen">Họ tên</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input nz-input formControlName="hoTen" id="hoTen" autofocus>
      <nz-form-explain *ngIf="personnelForm.get('hoTen').dirty && personnelForm.get('hoTen').errors">
        <ng-container *ngIf="personnelForm.get('hoTen').hasError('required')">
          Vui lòng nhập họ tên!
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="ngaySinh">Ngày sinh</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-date-picker formControlName="ngaySinh" nzPlaceHolder="Chọn ngày sinh" nzFormat="dd/MM/yyyy">
      </nz-date-picker>
      <nz-form-explain *ngIf="personnelForm.get('ngaySinh').dirty && personnelForm.get('ngaySinh').errors">
        <ng-container *ngIf="personnelForm.get('ngaySinh').hasError('required')">
          Vui lòng chọn ngày sinh!
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="queQuan">Quê quán</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <textarea nz-input formControlName="queQuan" id="queQuan"></textarea>
      <nz-form-explain *ngIf="personnelForm.get('queQuan').dirty && personnelForm.get('queQuan').errors">
        <ng-container *ngIf="personnelForm.get('queQuan').hasError('required')">
          Vui lòng nhập quê quán!
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="danToc">Dân tộc</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input nz-input formControlName="danToc" id="danToc">
      <nz-form-explain *ngIf="personnelForm.get('danToc').dirty && personnelForm.get('danToc').errors">
        <ng-container *ngIf="personnelForm.get('danToc').hasError('required')">
          Vui lòng nhập dân tộc!
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="tonGiao">Tôn giáo</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input nz-input formControlName="tonGiao" id="tonGiao">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="capBacSHSQ">Cấp bậc SHSQ</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input nz-input formControlName="capBacSHSQ" id="capBacSHSQ">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="chucVu">Chức vụ</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input nz-input formControlName="chucVu" id="chucVu">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="ngayNhapNguTuyenDung">Ngày NN/TD</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-month-picker formControlName="ngayNhapNguTuyenDung" nzFormat="MM/yyyy" nzPlaceHolder="Chọn ngày"></nz-month-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="xuatThan">Xuất thân</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input nz-input formControlName="xuatThan" id="xuatThan">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="banThan">Bản thân</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input nz-input formControlName="banThan" id="banThan">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="quaTrinhHocTap">Quá trình học tập</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <textarea rows="3" nz-input formControlName="quaTrinhHocTap" id="quaTrinhHocTap"></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="thanNhan">Thân nhân</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <textarea rows="3" nz-input formControlName="thanNhan" id="thanNhan"></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="ghiChu">Ghi chú</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <textarea nz-input formControlName="ghiChu" id="ghiChu"></textarea>
    </nz-form-control>
  </nz-form-item>
</form>