:host ::ng-deep .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

:host ::ng-deep .trigger:hover {
    color: #1890ff;
}

:host ::ng-deep .logo {
    height: 32px;
    background: rgba(255, 255, 255, .2);
    margin: 16px;
}

:host ::ng-deep .ant-avatar {
    margin-top: -5px;
    margin-right: 5px;
}

:host ::ng-deep .ant-layout-sider {
    height: auto;
}

.list-inline {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    margin-right: 15px;
    &-item {
        display: inline;
        padding: 10px;
        &:hover {
            background-color: #F9F9F9;
        }
    }
}

.ant-layout-header {
    box-shadow: 0 1px 10px rgba(0, 0, 0, .2);
}

.ant-dropdown-trigger {
    cursor: pointer;
}

.nav-item-divider {
    background-color: #e8e8e842;
    margin: 0 15px 0 15px;
}

#sidebarMenu li a {
    text-decoration: none;
}

:host ::ng-deep .ant-back-top {
    bottom: 50px;
    right: 50px;
}
