body {
    color: #1b1f23;
    font-family: sans-serif;
}

.wrap {
    width: 600px;
    margin: 200px auto 0;
    text-align: center;
}

.wrap h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 90px;
}

.wrap h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.6;
    margin: 0 0 80px;
}