<nz-card nzType="inner" nzTitle="Đổi mật khẩu">
  <form [formGroup]="changePasswordForm" (ngSubmit)="saveChanges()">
    <div class="form-group row">
      <label for="txtCurrentPassword" class="col-sm-3 col-form-label">Mật khẩu hiện tại *</label>
      <div class="col-sm-6">
        <input type="password" class="form-control" id="txtCurrentPassword" formControlName="currentPassword" [ngClass]="{
          'is-invalid': changePasswordForm.controls['currentPassword'].errors && (submitted || changePasswordForm.controls['currentPassword'].dirty || changePasswordForm.controls['currentPassword'].touched)
        }">
        <div class="invalid-feedback">
          <div *ngIf="changePasswordForm.get('currentPassword').hasError('required')">
            Vui lòng nhập mật khẩu hiện tại!
          </div>
          <div *ngIf="changePasswordForm.get('currentPassword').hasError('incorrect')">
            Mật khẩu hiện tại không đúng!
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="txtNewPassword" class="col-sm-3 col-form-label">Mật khẩu mới *</label>
      <div class="col-sm-6">
        <input type="password" class="form-control" id="txtNewPassword" formControlName="newPassword" [ngClass]="{
          'is-invalid': changePasswordForm.controls['newPassword'].errors && (submitted || changePasswordForm.controls['newPassword'].dirty || changePasswordForm.controls['newPassword'].touched)
        }">
        <div class="invalid-feedback">
          <div *ngIf="changePasswordForm.get('newPassword').hasError('required')">
            Vui lòng nhập mật khẩu mới!
          </div>
          <div *ngIf="changePasswordForm.get('newPassword').hasError('isSame') && !changePasswordForm.get('newPassword').hasError('required')">
            Mật khẩu mới không được giống với mật khẩu hiện tại!
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="txtConfirmNewPassword" class="col-sm-3 col-form-label">Nhập lại mật khẩu mới *</label>
      <div class="col-sm-6">
        <input type="password" class="form-control" id="txtConfirmNewPassword" formControlName="confirmNewPassword"  [ngClass]="{
          'is-invalid': changePasswordForm.controls['confirmNewPassword'].errors && (submitted || changePasswordForm.controls['confirmNewPassword'].dirty || changePasswordForm.controls['confirmNewPassword'].touched)
        }">
        <div class="invalid-feedback">
          <div *ngIf="changePasswordForm.get('confirmNewPassword').hasError('required')">
            Vui lòng nhập lại mật khẩu mới!
          </div>
          <div *ngIf="changePasswordForm.get('confirmNewPassword').hasError('notSame')">
            Mật khẩu mới và nhập lại mật khẩu mới chưa trùng khớp!
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-9 offset-sm-3">
          <button type="submit" nz-button nzType="primary" nzSize="large" [nzLoading]="isLoading" [disabled]="!changePasswordForm.dirty">Cập nhật</button>
      </div>
    </div>
  </form>
</nz-card>
