<nz-breadcrumb style="margin:16px 0;">
  <nz-breadcrumb-item>Danh mục</nz-breadcrumb-item>
  <nz-breadcrumb-item>Nước sản xuất</nz-breadcrumb-item>
</nz-breadcrumb>

<div style="padding:24px; background: #fff; min-height: 70vh">
  <div nz-row style="margin-bottom: 1rem">
    <div nz-col nzSpan="8">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input type="text" nz-input placeholder="Tìm kiếm..." #keyword (keyup.enter)="search(keyword.value)">
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch (click)="search(keyword.value)"><i nz-icon
            type="search"></i></button>
      </ng-template>
    </div>
    <div nz-col nzSpan="8" nzOffset="8" class="text-right">
      <nz-button-group>
        <button nz-button nzType="primary" (click)="addNew()">
          <i nz-icon type="plus" theme="outline"></i> Thêm
        </button>
        <button *ngIf="checkedNumber > 0" nz-button nzType="default" class="btn-danger" (click)="deleteMulti()">
          <i nz-icon type="delete" theme="outline"></i> Xóa <strong>{{checkedNumber}}</strong> bản ghi
        </button>
      </nz-button-group>
    </div>
  </div>

  <nz-table #table nzShowSizeChanger [nzFrontPagination]="false" [nzData]="dataSet" [nzLoading]="loading"
    [nzTotal]="pagination.totalItems" [(nzPageIndex)]="pagination.currentPage" [(nzPageSize)]="pagination.itemsPerPage"
    [nzNoResult]="'Không tìm thấy kết quả.'" (nzPageIndexChange)="loadData(); refreshStatus()"
    (nzPageSizeChange)="loadData(true); refreshStatus()" nzShowQuickJumper [nzShowTotal]="rangeTemplate" nzSize="middle"
    (nzCurrentPageDataChange)="currentPageDataChange($event)">
    <ng-template #rangeTemplate let-range="range" let-total>
      {{range[0]}}-{{range[1]}} của {{total}} bản ghi
    </ng-template>
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzWidth="10%" nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="checkAll($event)"></th>
        <th nzWidth="70%" nzShowSort nzSortKey="tenNuoc" nzCustomFilter>Tên nước sản xuất
          <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter #dropdown>
            <i nz-icon nzType="search" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown.nzVisible"
              nz-dropdown></i>
            <div class="search-box">
              <input type="text" nz-input placeholder="Tìm nước sản xuất" [(ngModel)]="pagingParams.searchValue"
                (keyup.enter)="searchColumn('tenNuoc')">
              <button [disabled]="!pagingParams.searchValue" nz-button nzSize="small" nzType="primary"
                (click)="searchColumn('tenNuoc')" class="search-button">Tìm</button>
              <button [disabled]="!pagingParams.searchValue" nz-button nzSize="small" (click)="reset()">Reset</button>
            </div>
          </nz-dropdown>
        </th>
        <th nzWidth="20%">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of table.data">
        <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus(data)"></td>
        <td>{{data.tenNuoc}}</td>
        <td class="decrease-row">
          <nz-button-group>
            <button nz-button nzType="default" class="btn-info" nz-tooltip nzTitle="Sửa" (click)="update(data.maNuoc)">
              <i nz-icon type="edit" theme="outline"></i>
            </button>
            <button nz-button nzType="default" class="btn-danger" nz-tooltip nzTitle="Xóa"
              (click)="delete(data.maNuoc)">
              <i nz-icon type="delete" theme="outline"></i>
            </button>
          </nz-button-group>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>