<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="materialItemForm" id="materialItemForm" (ngSubmit)="saveChanges()">
    <input type="hidden" formControlName="maHM">
    <div class="form-group">
      <label for="txtTenHM">Tên hạng mục (*)</label>
      <input type="text" id="txtTenHM" class="form-control" formControlName="tenHM" [ngClass]="{
        'is-invalid': materialItemForm.controls['tenHM'].errors && (submitted || materialItemForm.controls['tenHM'].dirty || materialItemForm.controls['tenHM'].touched)
      }">
      <div class="invalid-feedback">
        <div *ngIf="materialItemForm.get('tenHM').hasError('required')">
          Vui lòng nhập tên hạng mục!
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="txtGhiChu">Ghi chú</label>
      <textarea id="txtGhiChu" class="form-control" formControlName="ghiChu" [ngClass]="{
        'is-invalid': materialItemForm.controls['ghiChu'].errors && (submitted || materialItemForm.controls['ghiChu'].dirty || materialItemForm.controls['ghiChu'].touched)
      }"></textarea>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="hideModal()">Hủy</button>
  <button type="submit" class="btn btn-primary" form="materialItemForm">Lưu</button>
</div>
