<nz-breadcrumb style="margin:16px 0;">
  <nz-breadcrumb-item>Nghiệp vụ</nz-breadcrumb-item>
  <nz-breadcrumb-item>Kho</nz-breadcrumb-item>
  <nz-breadcrumb-item>Phiếu kiểm kê kho</nz-breadcrumb-item>
  <nz-breadcrumb-item>Sửa phiếu kiểm kê</nz-breadcrumb-item>
</nz-breadcrumb>

<div style="padding:24px; background: #fff; min-height: 70vh">
  <div nz-row nzGutter="16">
    <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
      <nz-card style="width:100%;" nzTitle="Thông tin phiếu kiểm kê" [nzExtra]="extraTemplate">
        <form nz-form [formGroup]="inventoryMaterialForm" (ngSubmit)="saveChanges()" autocomplete="off">
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="tenKho">Kho hàng</nz-form-label>
            <nz-form-control [nzSm]="16" [nzXs]="24">
              <input readonly nz-input formControlName="tenKho" id="tenKho" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="maNS">Nhân sự</nz-form-label>
            <nz-form-control [nzSm]="16" [nzXs]="24">
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn nhân sự" formControlName="maNS" id="maNS">
                <nz-option *ngFor="let item of personnels" [nzValue]="item.maNS" [nzLabel]="item.hoTen"></nz-option>
              </nz-select>
              <nz-form-explain
                *ngIf="inventoryMaterialForm.get('maNS').dirty && inventoryMaterialForm.get('maNS').errors">
                <ng-container *ngIf="inventoryMaterialForm.get('maNS').hasError('required')">
                  Vui lòng chọn nhân sự!
                </ng-container>
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="ngayKiemKe">Ngày kiểm kê</nz-form-label>
            <nz-form-control [nzSm]="16" [nzXs]="24">
              <input type="date" nz-input formControlName="ngayKiemKe" id="ngayKiemKe" />
              <nz-form-explain
                *ngIf="inventoryMaterialForm.get('ngayKiemKe').dirty && inventoryMaterialForm.get('ngayKiemKe').errors">
                <ng-container *ngIf="inventoryMaterialForm.get('ngayKiemKe').hasError('required')">
                  Vui lòng chọn ngày kiểm kê!
                </ng-container>
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control [nzSm]="16" [nzXs]="24" [nzOffset]="8">
              <button type="submit" nz-button nzType="primary" style="margin-right:1rem;"
                [disabled]="!inventoryMaterialForm.dirty">
                <i nz-icon type="save" theme="outline"></i> Lưu
              </button>
              <button type="button" nz-button nzType="default" [routerLink]="['/nghiep-vu/kho/phieu-kiem-ke-kho']">
                <i nz-icon type="close" theme="outline"></i> Hủy
              </button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </nz-card>
      <ng-template #extraTemplate>
        <button type="button" nzSize="small" nz-tooltip nzTitle="Tạo phiếu kiểm kê" nz-button nzType="primary"
          [routerLink]="['/nghiep-vu/kho/phieu-kiem-ke-kho/tao-phieu-kiem-ke']"><i nz-icon type="plus"
            theme="outline"></i>
        </button>
      </ng-template>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="16" nzLg="16" nzXl="16">
      <nz-card style="width:100%;" nzTitle="Danh sách tồn kho" [nzExtra]="extraTemplate2">
        <div nz-row style="margin-bottom: 0.5rem">
          <div nz-col nzSpan="21">
            <div nz-row nzGutter="8">
              <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
                <input type="text" nz-input placeholder="Nhập từ khóa..." #keywordInventory
                  (keyup.enter)="searchInventory(keywordInventory.value)">
              </div>
              <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
                <nz-select style="width: 100%;" nzShowSearch nzAllowClear nzPlaceHolder="Chọn vật tư"
                  [(ngModel)]="materialSearch">
                  <nz-option *ngFor="let item of materials" [nzValue]="item.maVatTu" [nzLabel]="item.tenVT">
                  </nz-option>
                </nz-select>
              </div>
              <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
                <nz-select style="width: 100%;" nzShowSearch nzAllowClear nzPlaceHolder="Chọn phiếu nhập"
                  [(ngModel)]="importMaterialSearch">
                  <nz-option *ngFor="let item of importMaterials" [nzValue]="item.maPhieuNhap"
                    [nzLabel]="item.maPhieuNhap">
                  </nz-option>
                </nz-select>
              </div>
            </div>
          </div>
          <div nz-col nzSpan="3" class="text-right">
            <nz-button-group>
              <button type="button" nz-button nzType="primary" nz-tooltip nzTitle="Tìm kiếm"
                (click)="loadInventories(true)">
                <i nz-icon type="search" theme="outline"></i>
              </button>
              <button type="button" nz-button nzType="default" nz-tooltip nzTitle="Reset" (click)="refreshInventory()">
                <i nz-icon type="sync" theme="outline"></i>
              </button>
            </nz-button-group>
          </div>
        </div>
        <nz-table #inventoryTable [nzFrontPagination]="false" [nzData]="inventories" [nzLoading]="loadingInventories"
          [nzTotal]="pagination.totalItems" [(nzPageIndex)]="pagination.currentPage"
          [(nzPageSize)]="pagination.itemsPerPage" [nzNoResult]="'Không tìm thấy kết quả.'"
          (nzPageIndexChange)="loadInventories()" (nzPageSizeChange)="loadInventories(true)"
          [nzShowTotal]="rangeTemplate" nzSize="middle" nzBordered>
          <ng-template #rangeTemplate let-range="range" let-total>
            {{range[0]}}-{{range[1]}} của {{total}} bản ghi
          </ng-template>
          <thead (nzSortChange)="sortInventories($event)" nzSingleSort>
            <tr>
              <th nzWidth="30%" nzShowSort nzSortKey="tenVatTu" nzCustomFilter>Vật tư
                <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter #dropdown1>
                  <i nz-icon nzType="search" class="ant-table-filter-icon"
                    [class.ant-table-filter-open]="dropdown1.nzVisible" nz-dropdown></i>
                  <div class="search-box">
                    <input type="text" nz-input placeholder="Tìm tên vật tư" [(ngModel)]="pagingParams.searchValue"
                      (keyup.enter)="searchColumn('tenVatTu')">
                    <button [disabled]="!pagingParams.searchValue" nz-button nzSize="small" nzType="primary"
                      (click)="searchColumn('tenVatTu')" class="search-button">Tìm</button>
                    <button [disabled]="!pagingParams.searchValue" nz-button nzSize="small"
                      (click)="reset()">Reset</button>
                  </div>
                </nz-dropdown>
              </th>
              <th nzWidth="20%" nzShowSort nzSortKey="maPhieuNhap" nzCustomFilter>Mã phiếu nhập
                <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter #dropdown2>
                  <i nz-icon nzType="search" class="ant-table-filter-icon"
                    [class.ant-table-filter-open]="dropdown2.nzVisible" nz-dropdown></i>
                  <div class="search-box">
                    <input type="text" nz-input placeholder="Tìm mã phiếu nhập" [(ngModel)]="pagingParams.searchValue"
                      (keyup.enter)="searchColumn('maPhieuNhap')">
                    <button [disabled]="!pagingParams.searchValue" nz-button nzSize="small" nzType="primary"
                      (click)="searchColumn('maPhieuNhap')" class="search-button">Tìm</button>
                    <button [disabled]="!pagingParams.searchValue" nz-button nzSize="small"
                      (click)="reset()">Reset</button>
                  </div>
                </nz-dropdown>
              </th>
              <th nzWidth="20%" nzShowSort nzSortKey="maPhieuNhap" nzCustomFilter>Ngày nhập
                <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter #dropdown3>
                  <i nz-icon nzType="search" class="ant-table-filter-icon"
                    [class.ant-table-filter-open]="dropdown3.nzVisible" nz-dropdown></i>
                  <div class="search-box">
                    <input type="text" nz-input placeholder="Tìm ngày nhập" [(ngModel)]="pagingParams.searchValue"
                      (keyup.enter)="searchColumn('ngayNhap')">
                    <button [disabled]="!pagingParams.searchValue" nz-button nzSize="small" nzType="primary"
                      (click)="searchColumn('ngayNhap')" class="search-button">Tìm</button>
                    <button [disabled]="!pagingParams.searchValue" nz-button nzSize="small"
                      (click)="reset()">Reset</button>
                  </div>
                </nz-dropdown>
              </th>
              <th nzWidth="20%" nzShowSort nzSortKey="soLuongTon" nzCustomFilter>Số lượng tồn
                <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter #dropdown4>
                  <i nz-icon nzType="search" class="ant-table-filter-icon"
                    [class.ant-table-filter-open]="dropdown4.nzVisible" nz-dropdown></i>
                  <div class="search-box">
                    <input type="text" nz-input placeholder="Tìm số lượng tồn" [(ngModel)]="pagingParams.searchValue"
                      (keyup.enter)="searchColumn('soLuongTon')">
                    <button [disabled]="!pagingParams.searchValue" nz-button nzSize="small" nzType="primary"
                      (click)="searchColumn('soLuongTon')" class="search-button">Tìm</button>
                    <button [disabled]="!pagingParams.searchValue" nz-button nzSize="small"
                      (click)="reset()">Reset</button>
                  </div>
                </nz-dropdown>
              </th>
              <th nzWidth="10%"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of inventoryTable.data">
              <td>{{data.tenVatTu}}</td>
              <td class="text-center">{{data.maPhieuNhap}}</td>
              <td>{{data.ngayNhap | date:'dd/MM/yyyy'}}</td>
              <td class="text-center">{{data.soLuongTon}}</td>
              <td class="text-center decrease-row">
                <button nz-button nzType="primary" nz-tooltip nzTitle="Xuất"
                  (click)="createInventoryMaterialDetail(data)" *ngIf="!data.inserted">
                  <i nz-icon type="caret-down" theme="outline"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-card>
      <ng-template #extraTemplate2>
        <label nz-checkbox [(ngModel)]="isShowAllInventories" (ngModelChange)="loadInventories()">Hiện tất
          tả</label>
      </ng-template>
    </div>
  </div>
  <br />
  <nz-card style="width:100%;" nzTitle="Danh sách chi tiết kiểm kê vật tư" *ngIf="inventoryMaterailDetails.length > 0">
    <nz-table #inventoryMaterailDetailTable [nzData]="inventoryMaterailDetails" nzBordered
      [nzLoading]="loadingInventoryMaterialDetails" [nzShowPagination]="false" nzSize="middle">
      <thead>
        <tr>
          <th nzWidth="10%"></th>
          <th nzWidth="15%">Mã phiếu KK</th>
          <th nzWidth="15%">Mã phiếu nhập</th>
          <th nzWidth="20%">Tên vật tư</th>
          <th nzWidth="10%">SL theo dõi</th>
          <th nzWidth="10%">SL thực tồn</th>
          <th nzWidth="10%">SL kiểm kê</th>
          <th nzWidth="10%">Ghi chú</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of inventoryMaterailDetailTable.data">
          <td class="text-center decrease-row">
            <nz-button-group>
              <button nz-button nzType="default" class="btn-info" nz-tooltip nzTitle="Sửa"
                (click)="updateInventoryMaterialDetail(data)">
                <i nz-icon type="edit" theme="outline"></i>
              </button>
              <button nz-button nzType="default" class="btn-danger" nz-tooltip nzTitle="Xóa"
                (click)="deleteInventoryMaterialDetail(data)">
                <i nz-icon type="delete" theme="outline"></i>
              </button>
            </nz-button-group>
          </td>
          <td class="text-center">{{data.maPhieuKiemKe}}</td>
          <td class="text-center">{{data.maPhieuNhap}}</td>
          <td>{{data.tenVatTu}}</td>
          <td class="text-center">{{data.soLuongTheoDoi}}</td>
          <td class="text-center">{{data.soLuongThucTon}}</td>
          <td class="text-center">{{data.soLuongKiemKe}}</td>
          <td>{{data.ghiChu}}</td>
        </tr>
        <!-- <tr class="bg-footer-price">
          <td colspan="7" class="text-right">
            <strong>Tổng cộng:</strong>
          </td>
          <td class="text-center">
            <strong>{{totalQuantity | number: '1.0-0'}}</strong>
          </td>
        </tr> -->
      </tbody>
    </nz-table>
  </nz-card>
</div>