th {
    text-align: center !important;
}

.bg-footer-price {
    background-color: #F0F2F5;
}

.text-total-amount {
    color: red;
}

:host ::ng-deep .ant-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
    transition: 0.3s !important;
}

:host ::ng-deep .ant-card-head {
    height: 15px !important;

    .ant-card-head-title {
        padding-top: 10px !important;
    }
}

:host ::ng-deep .ant-card-body {
    padding: 10px !important;
}