<form nz-form [formGroup]="roleForm" autocomplete="off">
  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="name">Quyền</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input nz-input formControlName="name" id="name" autofocus>
      <nz-form-explain *ngIf="roleForm.get('name').dirty && roleForm.get('name').errors">
        <ng-container *ngIf="roleForm.get('name').hasError('required') || roleForm.get('name').hasError('whitespace')">
          Vui lòng nhập tên quyền!
        </ng-container>
        <ng-container *ngIf="roleForm.get('name').hasError('duplicate')">
          Tên này đã được dùng!
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
</form>
<nz-table #basicTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="functions" [nzLoading]="loading"
  [nzTotal]="pagination.totalItems" [(nzPageIndex)]="pagination.currentPage" [(nzPageSize)]="pagination.itemsPerPage"
  [nzNoResult]="'Không tìm thấy kết quả.'" (nzPageIndexChange)="loadAllFunctions()"
  (nzPageSizeChange)="loadAllFunctions(true)" nzShowQuickJumper [nzShowTotal]="rangeTemplate" nzSize="middle">
  <ng-template #rangeTemplate let-range="range" let-total>
    {{range[0]}}-{{range[1]}} của {{total}} bản ghi
  </ng-template>
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzWidth="40%" nzShowSort nzSortKey="tenChucNang">Chức năng</th>
      <th nzWidth="15%">Xem</th>
      <th nzWidth="15%">Thêm</th>
      <th nzWidth="15%">Sửa</th>
      <th nzWidth="15%">Xóa</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of basicTable.data">
      <td>{{item.tenChucNang}}</td>
      <td><label *ngIf="item.hasRead" nz-checkbox [(ngModel)]="item.read" [ngModelOptions]="{standalone: true}"></label>
      </td>
      <td><label *ngIf="item.hasCreate" nz-checkbox [(ngModel)]="item.create"
          [ngModelOptions]="{standalone: true}"></label></td>
      <td><label *ngIf="item.hasUpdate" nz-checkbox [(ngModel)]="item.update"
          [ngModelOptions]="{standalone: true}"></label></td>
      <td><label *ngIf="item.hasDelete" nz-checkbox [(ngModel)]="item.delete"
          [ngModelOptions]="{standalone: true}"></label></td>
    </tr>
  </tbody>
</nz-table>