<form nz-form [formGroup]="liquidationDetailForm" (ngSubmit)="saveChanges()" autocomplete="off">
    <div>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="tenVatTu">Vật tư</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <input nz-input formControlName="tenVatTu" id="tenVatTu" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="maPhieuNhap">Mã phiếu nhập</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <input nz-input formControlName="maPhieuNhap" id="maPhieuNhap" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="soLuongThanhLy">Số lượng TL</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <div>
            <nz-input-number formControlName="soLuongThanhLy" [nzMin]="1"
              [nzMax]="isAddNew ? inventory.soLuongTon : liquidationDetail.soLuongThanhLy" [nzStep]="1">
            </nz-input-number> / {{isAddNew ? inventory.soLuongTon : liquidationDetail.soLuongThanhLy}}
          </div>
          <nz-form-explain
            *ngIf="liquidationDetailForm.get('soLuongThanhLy').dirty && liquidationDetailForm.get('soLuongThanhLy').errors">
            <ng-container *ngIf="liquidationDetailForm.get('soLuongThanhLy').hasError('required')">
              Vui lòng nhập số lượng thanh lý!
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="dienGiai">Diễn giải</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <textarea nz-input formControlName="dienGiai" id="dienGiai"></textarea>
          <nz-form-explain
            *ngIf="liquidationDetailForm.get('dienGiai').dirty && liquidationDetailForm.get('dienGiai').errors">
            <ng-container *ngIf="liquidationDetailForm.get('dienGiai').hasError('required')">
              Vui lòng nhập diễn giải!
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="ghiChu">Ghi chú</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <textarea nz-input formControlName="ghiChu" id="ghiChu"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </form>