<nz-breadcrumb style="margin:16px 0;">
  <nz-breadcrumb-item>Danh mục</nz-breadcrumb-item>
  <nz-breadcrumb-item>Thông tin vật tư</nz-breadcrumb-item>
  <nz-breadcrumb-item>Vật tư</nz-breadcrumb-item>
</nz-breadcrumb>

<div style="padding:24px; background: #fff; min-height: 70vh">
  <div nz-row style="margin-bottom: 1rem">
    <div nz-col nzSpan="8">
      <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
        <input type="text" nz-input placeholder="Tìm kiếm..." #keyword (keyup.enter)="search(keyword.value)">
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch (click)="search(keyword.value)"><i nz-icon
            type="search"></i></button>
      </ng-template>
    </div>
    <div nz-col nzSpan="16" class="text-right">
      <nz-button-group>
        <button nz-button nzType="primary" (click)="addNew()">
          <i nz-icon type="plus" theme="outline"></i> Thêm
        </button>
        <button *appHasRole="['Admin']" [disabled]="isLoadingImport" [nzLoading]="isLoadingImport" nz-button nzType="dashed"
          (click)="fImportExcel.click()">
          <i nz-icon type="file-excel" theme="outline"></i> Nhập excel
        </button>
        <button [disabled]="isLoadingExport" [nzLoading]="isLoadingExport" nz-button nzType="dashed"
          (click)="exportFile()">
          <i nz-icon type="file-excel" theme="outline"></i> Xuất excel
        </button>
        <button *ngIf="checkedNumber > 0" nz-button nzType="default" class="btn-danger" (click)="deleteMulti()">
          <i nz-icon type="delete" theme="outline"></i> Xóa <strong>{{checkedNumber}}</strong> bản ghi
        </button>
        <input id="fImportExcel" type="file" #fImportExcel (change)="changeFile($event)" style="display: none;">
      </nz-button-group>
    </div>
  </div>

  <nz-table #table nzShowSizeChanger [nzFrontPagination]="false"
    [nzData]="dataSet" [nzLoading]="loading" [nzTotal]="pagination.totalItems" [(nzPageIndex)]="pagination.currentPage"
    [(nzPageSize)]="pagination.itemsPerPage" [nzNoResult]="'Không tìm thấy kết quả.'"
    (nzPageIndexChange)="loadData(); refreshStatus()"
    (nzPageSizeChange)="loadData(true); refreshStatus()" nzShowQuickJumper
    [nzShowTotal]="rangeTemplate" nzSize="middle" (nzCurrentPageDataChange)="currentPageDataChange($event)">
    <ng-template #rangeTemplate let-range="range" let-total>
      {{range[0]}}-{{range[1]}} của {{total}} bản ghi
    </ng-template>
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzWidth="10%" nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="checkAll($event)"></th>
        <th nzWidth="20%" nzShowSort nzSortKey="tenVT">Tên vật tư</th>
        <th nzWidth="20%" nzShowSort nzSortKey="tenLoaiVatTu">Tên loại vật tư</th>
        <th nzWidth="15%" nzShowSort nzSortKey="tenDVT">Đơn vị tính</th>
        <th nzWidth="20%" nzShowSort nzSortKey="ghiChu">Ghi chú</th>
        <th nzWidth="15%">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of table.data">
        <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus(data)"></td>
        <td [innerHTML]="data.tenVT | highlight : pagingParams.keyword"></td>
        <td [innerHTML]="data.tenLoaiVatTu | highlight : pagingParams.keyword"></td>
        <td [innerHTML]="data.tenDVT | highlight : pagingParams.keyword"></td>
        <td [innerHTML]="data.ghiChu | highlight : pagingParams.keyword"></td>
        <td class="decrease-row">
          <nz-button-group>
            <button nz-button nzType="default" class="btn-info" nz-tooltip nzTitle="Sửa" (click)="update(data.maVatTu)">
              <i nz-icon type="edit" theme="outline"></i>
            </button>
            <button nz-button nzType="default" class="btn-danger" nz-tooltip nzTitle="Xóa"
              (click)="delete(data.maVatTu)">
              <i nz-icon type="delete" theme="outline"></i>
            </button>
          </nz-button-group>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>