<nz-breadcrumb style="margin:16px 0;">
  <nz-breadcrumb-item>Trang chủ</nz-breadcrumb-item>
  <nz-breadcrumb-item>Nghiệp vụ</nz-breadcrumb-item>
  <nz-breadcrumb-item>Nhập</nz-breadcrumb-item>
  <nz-breadcrumb-item>Danh sách phiếu nhập</nz-breadcrumb-item>
</nz-breadcrumb>

<div style="padding:24px; background: #fff; min-height: 70vh">
  <div nz-row style="margin-bottom: 0.5rem">
    <div nz-col nzSpan="8">
      <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
        <input type="text" nz-input placeholder="Tìm kiếm..." #keyword (keyup.enter)="search(keyword.value)">
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch (click)="search(keyword.value)"><i nz-icon
            type="search"></i></button>
      </ng-template>
    </div>
    <div nz-col nzSpan="8" nzOffset="8" class="text-right">
      <button nz-button nzType="primary" [routerLink]="['/admin/nghiep-vu/nhap-vat-tu']">
        <i nz-icon type="plus" theme="outline"></i> Thêm
      </button>
    </div>
  </div>

  <nz-table #table nzShowSizeChanger [nzFrontPagination]="false" [nzData]="dataSet" [nzLoading]="loading"
    [nzTotal]="pagination.totalItems" [(nzPageIndex)]="pagination.currentPage" [(nzPageSize)]="pagination.itemsPerPage"
    [nzNoResult]="'Không tìm thấy kết quả.'" (nzPageIndexChange)="loadData()" (nzPageSizeChange)="loadData(true)"
    nzShowQuickJumper [nzShowTotal]="rangeTemplate" nzBordered>
    <ng-template #rangeTemplate let-range="range" let-total>
      {{range[0]}}-{{range[1]}} của {{total}} bản ghi
    </ng-template>
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzWidth="15%" nzShowSort nzSortKey="tenKho">Tên kho</th>
        <th nzWidth="15%" nzShowSort nzSortKey="teHM">Hạng mục</th>
        <th nzWidth="10%" nzShowSort nzSortKey="ngayNhap">Ngày nhập</th>
        <th nzWidth="10%" nzShowSort nzSortKey="tongSoLuong">Tổng lượng</th>
        <th nzWidth="15%" nzShowSort nzSortKey="tongSoTien">Tổng tiền</th>
        <th nzWidth="10%" nzShowSort nzSortKey="chietKhau">Chiết khấu</th>
        <th nzWidth="15%" nzShowSort nzSortKey="thanhTien">Thành tiền</th>
        <th nzWidth="10%"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of table.data">
        <td>{{data.tenKho}}</td>
        <td>{{data.tenHM}}</td>
        <td>{{data.ngayNhap | date:'dd/MM/yyyy'}}</td>
        <td class="text-center">{{data.tongSoLuong}}</td>
        <td class="text-right">{{data.tongSoTien | number: '1.0-0'}}</td>
        <td class="text-center">{{data.chietKhau}}</td>
        <td class="text-right">{{data.thanhTien | number: '1.0-0'}}</td>
        <td class="text-center">
          <button nz-button nzType="default" class="btn-info" nz-tooltip nzTitle="Sửa"
            [routerLink]="['/admin/nghiep-vu/sua-phieu-nhap', data.maPhieuNhap]">
            <i nz-icon type="edit" theme="outline"></i>
          </button>
          <nz-divider nzType="vertical"></nz-divider>
          <button nz-button nzType="default" class="btn-danger" nz-tooltip nzTitle="Xóa"
            (click)="delete(data.maPhieuNhap)">
            <i nz-icon type="delete" theme="outline"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
