<nz-breadcrumb style="margin:16px 0;">
  <nz-breadcrumb-item>Trang chủ</nz-breadcrumb-item>
</nz-breadcrumb>

<div style="padding:24px; background: #fff; min-height: 70vh">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <nz-card class="card1" [nzBordered]="false" [routerLink]="['/admin/he-thong/danh-sach-nguoi-dung']">
        <h6>Người dùng</h6>
        <h1>12</h1>
        <i nz-icon type="user" theme="outline"></i>
      </nz-card>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <nz-card class="card2" [nzBordered]="false" [routerLink]="['/admin/danh-muc/danh-muc-vat-tu']">
        <h6>Vật tư</h6>
        <h1>200</h1>
        <i nz-icon type="dropbox" theme="outline"></i>
      </nz-card>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <nz-card class="card3" [nzBordered]="false" [routerLink]="['/admin/nghiep-vu/vat-tu-ton-kho']">
        <h6>Tồn kho</h6>
        <h1>60</h1>
        <i nz-icon type="appstore" theme="outline"></i>
      </nz-card>
    </div>
  </div>
</div>