<nz-breadcrumb style="margin:16px 0;">
  <nz-breadcrumb-item>Nghiệp vụ</nz-breadcrumb-item>
  <nz-breadcrumb-item>Xuất</nz-breadcrumb-item>
  <nz-breadcrumb-item>Danh sách phiếu xuất</nz-breadcrumb-item>
</nz-breadcrumb>

<div style="padding:24px; background: #fff; min-height: 70vh">
  <div nz-row style="margin-bottom: 0.5rem" nzGutter="16">
    <div nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6">
      <input type="text" nz-input placeholder="Tìm kiếm..." [(ngModel)]="keyword" (keyup.enter)="search()">
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6">
      <input nz-input type="date" class="from-date" placeholder="Từ ngày" [(ngModel)]="startValue">
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6">
      <input nz-input type="date" class="to-date" placeholder="Đến ngày" [(ngModel)]="endValue">
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6">
      <nz-button-group>
        <button nz-button nzType="primary" nzSearch (click)="search()">
          <i nz-icon type="search"></i> Tìm kiếm
        </button>
        <button nz-button nzType="default" nzSearch (click)="refresh()">
          <i nz-icon type="sync" theme="outline"></i> Reset
        </button>
      </nz-button-group>
    </div>
  </div>
  <hr style="border: 0.5px solid #E8E8E8;" />
  <div nz-row style="margin-bottom: 0.5rem">
    <div nz-col nzSpan="8">

    </div>
    <div nz-col nzSpan="8" nzOffset="8" class="text-right">
      <button nz-button nzType="primary" (click)="addNew()">
        <i nz-icon type="plus" theme="outline"></i> Tạo phiếu
      </button>
    </div>
  </div>

  <nz-table #table nzShowSizeChanger [nzFrontPagination]="false" [nzData]="dataSet" [nzLoading]="loading"
    [nzTotal]="pagination.totalItems" [(nzPageIndex)]="pagination.currentPage" [(nzPageSize)]="pagination.itemsPerPage"
    [nzNoResult]="'Không tìm thấy kết quả.'" (nzPageIndexChange)="loadData()" (nzPageSizeChange)="loadData(true)"
    nzShowQuickJumper [nzShowTotal]="rangeTemplate" nzSize="middle" nzBordered>
    <ng-template #rangeTemplate let-range="range" let-total>
      {{range[0]}}-{{range[1]}} của {{total}} bản ghi
    </ng-template>
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzWidth="10%" nzShowSort nzSortKey="maPhieuXuat" nzCustomFilter>Mã PX
          <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter #dropdown1>
            <i nz-icon nzType="search" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown1.nzVisible"
              nz-dropdown></i>
            <div class="search-box">
              <input type="text" nz-input placeholder="Tìm mã phiếu xuất" [(ngModel)]="pagingParams.searchValue"
                (keyup.enter)="searchColumn('maPhieuXuat')">
              <button [disabled]="!pagingParams.searchValue" nz-button nzSize="small" nzType="primary"
                (click)="searchColumn('maPhieuXuat')" class="search-button">Tìm</button>
              <button [disabled]="!pagingParams.searchValue" nz-button nzSize="small" (click)="reset()">Reset</button>
            </div>
          </nz-dropdown>
        </th>
        <th nzWidth="12%" nzShowSort nzSortKey="tenKho" nzCustomFilter>Tên kho
          <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter #dropdown2>
            <i nz-icon nzType="search" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown2.nzVisible"
              nz-dropdown></i>
            <div class="search-box">
              <input type="text" nz-input placeholder="Tìm tên kho" [(ngModel)]="pagingParams.searchValue"
                (keyup.enter)="searchColumn('tenKho')">
              <button [disabled]="!pagingParams.searchValue" nz-button nzSize="small" nzType="primary"
                (click)="searchColumn('tenKho')" class="search-button">Tìm</button>
              <button [disabled]="!pagingParams.searchValue" nz-button nzSize="small" (click)="reset()">Reset</button>
            </div>
          </nz-dropdown>
        </th>
        <th nzWidth="14%" nzShowSort nzSortKey="tenNS" nzCustomFilter>Nhân sự
          <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter #dropdown3>
            <i nz-icon nzType="search" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown3.nzVisible"
              nz-dropdown></i>
            <div class="search-box">
              <input type="text" nz-input placeholder="Tìm nhân sự" [(ngModel)]="pagingParams.searchValue"
                (keyup.enter)="searchColumn('tenNS')">
              <button [disabled]="!pagingParams.searchValue" nz-button nzSize="small" nzType="primary"
                (click)="searchColumn('tenNS')" class="search-button">Tìm</button>
              <button [disabled]="!pagingParams.searchValue" nz-button nzSize="small" (click)="reset()">Reset</button>
            </div>
          </nz-dropdown>
        </th>
        <th nzWidth="10%" nzShowSort nzSortKey="ngayNhap" nzCustomFilter>Ngày xuất
          <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter #dropdown4>
            <i nz-icon nzType="search" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown4.nzVisible"
              nz-dropdown></i>
            <div class="search-box">
              <input type="text" nz-input placeholder="Tìm ngày xuất" [(ngModel)]="pagingParams.searchValue"
                (keyup.enter)="searchColumn('ngayNhap')">
              <button [disabled]="!pagingParams.searchValue" nz-button nzSize="small" nzType="primary"
                (click)="searchColumn('ngayNhap')" class="search-button">Tìm</button>
              <button [disabled]="!pagingParams.searchValue" nz-button nzSize="small" (click)="reset()">Reset</button>
            </div>
          </nz-dropdown>
        </th>
        <th nzWidth="10%" nzShowSort nzSortKey="tongSoLuong" nzCustomFilter>Tổng lượng
          <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter #dropdown5>
            <i nz-icon nzType="search" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown5.nzVisible"
              nz-dropdown></i>
            <div class="search-box">
              <input type="text" nz-input placeholder="Tìm tổng lượng" [(ngModel)]="pagingParams.searchValue"
                (keyup.enter)="searchColumn('tongSoLuong')">
              <button [disabled]="!pagingParams.searchValue" nz-button nzSize="small" nzType="primary"
                (click)="searchColumn('tongSoLuong')" class="search-button">Tìm</button>
              <button [disabled]="!pagingParams.searchValue" nz-button nzSize="small" (click)="reset()">Reset</button>
            </div>
          </nz-dropdown>
        </th>
        <th nzWidth="10%" nzShowSort nzSortKey="tongSoTien" nzCustomFilter>Tổng tiền
          <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter #dropdown6>
            <i nz-icon nzType="search" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown6.nzVisible"
              nz-dropdown></i>
            <div class="search-box">
              <input type="text" nz-input placeholder="Tìm tổng tiền" [(ngModel)]="pagingParams.searchValue"
                (keyup.enter)="searchColumn('tongSoTien')">
              <button [disabled]="!pagingParams.searchValue" nz-button nzSize="small" nzType="primary"
                (click)="searchColumn('tongSoTien')" class="search-button">Tìm</button>
              <button [disabled]="!pagingParams.searchValue" nz-button nzSize="small" (click)="reset()">Reset</button>
            </div>
          </nz-dropdown>
        </th>
        <th nzWidth="10%" nzShowSort nzSortKey="chietKhau" nzCustomFilter>Chiết khấu
          <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter #dropdown7>
            <i nz-icon nzType="search" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown7.nzVisible"
              nz-dropdown></i>
            <div class="search-box">
              <input type="text" nz-input placeholder="Tìm chiết khấu" [(ngModel)]="pagingParams.searchValue"
                (keyup.enter)="searchColumn('chietKhau')">
              <button [disabled]="!pagingParams.searchValue" nz-button nzSize="small" nzType="primary"
                (click)="searchColumn('chietKhau')" class="search-button">Tìm</button>
              <button [disabled]="!pagingParams.searchValue" nz-button nzSize="small" (click)="reset()">Reset</button>
            </div>
          </nz-dropdown>
        </th>
        <th nzWidth="10%" nzShowSort nzSortKey="thanhTien" nzCustomFilter>Giá trị thực
          <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter #dropdown8>
            <i nz-icon nzType="search" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown8.nzVisible"
              nz-dropdown></i>
            <div class="search-box">
              <input type="text" nz-input placeholder="Tìm giá trị thực" [(ngModel)]="pagingParams.searchValue"
                (keyup.enter)="searchColumn('thanhTien')">
              <button [disabled]="!pagingParams.searchValue" nz-button nzSize="small" nzType="primary"
                (click)="searchColumn('thanhTien')" class="search-button">Tìm</button>
              <button [disabled]="!pagingParams.searchValue" nz-button nzSize="small" (click)="reset()">Reset</button>
            </div>
          </nz-dropdown>
        </th>
        <th nzWidth="14%">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of table.data">
        <td class="text-center">{{data.maPhieuXuat}}</td>
        <td>{{data.tenKho}}</td>
        <td>{{data.tenNS}}</td>
        <td>{{data.ngayNhap | date:'dd/MM/yyyy'}}</td>
        <td class="text-center">{{data.tongSoLuong}}</td>
        <td class="text-right">{{data.tongSoTien | number: '1.0-0'}}</td>
        <td class="text-center">{{data.chietKhau}}</td>
        <td class="text-right">{{data.tongSoTien * (1 - data.chietKhau / 100) | number: '1.0-0'}}</td>
        <td class="text-center decrease-row">
          <nz-button-group>
            <button *ngIf="data.status" nz-button nzType="default" class="btn-info" nz-tooltip nzTitle="Sửa"
              (click)="update(data.maPhieuXuat)">
              <i nz-icon type="edit" theme="outline"></i>
            </button>
            <button nz-button nzType="default" class="btn-primary" nz-tooltip nzTitle="Xem"
              (click)="view(data.maPhieuXuat)">
              <i nz-icon type="eye" theme="outline"></i>
            </button>
            <button *ngIf="data.status" nz-button nzType="default" class="btn-danger" nz-tooltip nzTitle="Xóa"
              (click)="delete(data.maPhieuXuat)">
              <i nz-icon type="delete" theme="outline"></i>
            </button>
          </nz-button-group>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>