<form nz-form [formGroup]="userForm" autocomplete="off">
  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="userName">Tài khoản</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input nz-input formControlName="userName" id="userName" autofocus>
      <nz-form-explain *ngIf="userForm.get('userName').dirty && userForm.get('userName').errors">
        <ng-container *ngIf="userForm.get('userName').hasError('required')">
          Vui lòng nhập tài khoản!
        </ng-container>
        <ng-container *ngIf="userForm.get('userName').hasError('maxlength')">
          Vui lòng nhập không quá 20 ký tự!
        </ng-container>
        <ng-container *ngIf="userForm.get('userName').hasError('duplicate')">
          Tên này đã được dùng!
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="isAddNew">
    <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="password">Mật khẩu</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input type="password" nz-input formControlName="password" id="password">
      <nz-form-explain *ngIf="userForm.get('password').dirty && userForm.get('password').errors">
        <ng-container *ngIf="userForm.get('password').hasError('required')">
          Vui lòng nhập mật khẩu!
        </ng-container>
        <ng-container *ngIf="userForm.get('password').hasError('minlength')">
          Vui lòng nhập ít nhất 6 ký tự!
        </ng-container>
        <ng-container *ngIf="userForm.get('password').hasError('maxlength')">
          Vui lòng nhập không quá 12 ký tự!
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="isAddNew">
    <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="confirmPassword">Nhập lại mật khẩu</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input type="password" nz-input formControlName="confirmPassword" id="confirmPassword">
      <nz-form-explain *ngIf="userForm.get('confirmPassword').dirty && userForm.get('confirmPassword').errors">
        <ng-container *ngIf="userForm.get('confirmPassword').hasError('required')">
          Vui lòng nhập lại mật khẩu!
        </ng-container>
        <ng-container
          *ngIf="userForm.get('confirmPassword').hasError('notSame') && !userForm.get('confirmPassword').hasError('required')">
          Mật khẩu và nhập lại mật khẩu chưa trùng khớp!
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="fullName">Họ tên</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input type="text" nz-input formControlName="fullName" id="fullName">
      <nz-form-explain *ngIf="userForm.get('fullName').dirty && userForm.get('fullName').errors">
        <ng-container *ngIf="userForm.get('fullName').hasError('required')">
          Vui lòng nhập họ tên!
        </ng-container>
        <ng-container *ngIf="userForm.get('fullName').hasError('maxlength')">
          Vui lòng nhập không quá 50 ký tự!
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="email">Email</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input type="email" nz-input formControlName="email" id="email">
      <nz-form-explain *ngIf="userForm.get('email').dirty && userForm.get('email').errors">
        <ng-container *ngIf="userForm.get('email').hasError('required')">
          Vui lòng nhập email!
        </ng-container>
        <ng-container *ngIf="userForm.get('email').hasError('email')">
          Vui lòng nhập email hợp lệ!
        </ng-container>
        <ng-container *ngIf="userForm.get('email').hasError('maxlength')">
          Vui lòng nhập không quá 50 ký tự!
        </ng-container>
        <ng-container *ngIf="userForm.get('email').hasError('duplicate')">
          Email này đã được dùng!
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="gender">Giới tính</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-radio-group formControlName="gender">
        <label nz-radio [nzValue]="true">Nam</label>
        <label nz-radio [nzValue]="false">Nữ</label>
      </nz-radio-group>
      <nz-form-explain *ngIf="userForm.get('gender').dirty && userForm.get('gender').errors">
        <ng-container *ngIf="userForm.get('gender').hasError('required')">
          Vui lòng chọn giới tính!
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="dateOfBirth">Ngày sinh</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input type="date" nz-input formControlName="dateOfBirth" id="dateOfBirth">
      <nz-form-explain *ngIf="userForm.get('dateOfBirth').dirty && userForm.get('dateOfBirth').errors">
        <ng-container *ngIf="userForm.get('dateOfBirth').hasError('required')">
          Vui lòng chọn ngày sinh!
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
</form>