<form nz-form [formGroup]="changePasswordForm">
  <nz-form-item>
    <nz-form-label [nzSm]="9" [nzXs]="24" nzRequired nzFor="newPassword">Mật khẩu mới</nz-form-label>
    <nz-form-control [nzSm]="15" [nzXs]="24">
      <input nz-input type="password" formControlName="newPassword" id="newPassword">
      <nz-form-explain
        *ngIf="changePasswordForm.get('newPassword').dirty && changePasswordForm.get('newPassword').errors">
        <ng-container *ngIf="changePasswordForm.get('newPassword').hasError('required')">
          Vui lòng nhập mật khẩu mới!
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="9" [nzXs]="24" nzRequired nzFor="confirmNewPassword">Nhập lại mật khẩu mới</nz-form-label>
    <nz-form-control [nzSm]="15" [nzXs]="24">
      <input nz-input type="password" formControlName="confirmNewPassword" id="confirmNewPassword">
      <nz-form-explain
        *ngIf="changePasswordForm.get('confirmNewPassword').dirty && changePasswordForm.get('confirmNewPassword').errors">
        <ng-container *ngIf="changePasswordForm.get('confirmNewPassword').hasError('required')">
          Vui lòng nhập lại mật khẩu mới!
        </ng-container>
        <ng-container
          *ngIf="changePasswordForm.get('confirmNewPassword').hasError('notSame') && !changePasswordForm.get('confirmNewPassword').hasError('required')">
          Mật khẩu mới và nhập lại mật khẩu mới chưa trùng khớp!
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
</form>