<nz-breadcrumb style="margin:16px 0;">
  <nz-breadcrumb-item>Trang chủ</nz-breadcrumb-item>
  <nz-breadcrumb-item>Nghiệp vụ</nz-breadcrumb-item>
  <nz-breadcrumb-item>Nhập</nz-breadcrumb-item>
  <nz-breadcrumb-item>Sửa phiếu nhập</nz-breadcrumb-item>
</nz-breadcrumb>

<div style="padding:24px; background: #fff; min-height: 70vh">
  <form nz-form [formGroup]="importMaterialForm" (ngSubmit)="saveChanges()" autocomplete="off">
    <nz-card style="width:100%;" nzTitle="Nhập vật tư (người nhập: {{importMaterialForm.value.nguoiNhap}})"
      [nzExtra]="extraTemplate">
      <table style="width: 100%;">
        <tr>
          <td style="width: 50%;">
            <nz-form-item>
              <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="ngayNhap">Ngày nhập</nz-form-label>
              <nz-form-control [nzSm]="16" [nzXs]="24">
                <input type="date" nz-input formControlName="ngayNhap" id="ngayNhap" />
                <nz-form-explain
                  *ngIf="importMaterialForm.get('ngayNhap').dirty && importMaterialForm.get('ngayNhap').errors">
                  <ng-container *ngIf="importMaterialForm.get('ngayNhap').hasError('required')">
                    Vui lòng chọn ngày nhập!
                  </ng-container>
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </td>
          <td style="width: 50%;">
            <nz-form-item>
              <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="chietKhau">Chiết khấu</nz-form-label>
              <nz-form-control [nzSm]="16" [nzXs]="24">
                <nz-input-number id="chietKhau" formControlName="chietKhau" [nzMin]="0" [nzMax]="100" [nzStep]="1"
                  [nzFormatter]="formatterPercent" [nzParser]="parserPercent"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </td>
        </tr>
        <tr>
          <td>
            <nz-form-item>
              <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="tenKho">Kho hàng</nz-form-label>
              <nz-form-control [nzSm]="16" [nzXs]="24">
                <input readonly nz-input formControlName="tenKho" id="tenKho" />
              </nz-form-control>
            </nz-form-item>
          </td>
          <td>
            <nz-form-item>
              <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="tenHM">Hạng mục vật tư</nz-form-label>
              <nz-form-control [nzSm]="16" [nzXs]="24">
                <input readonly nz-input formControlName="tenHM" id="tenHM" />
              </nz-form-control>
            </nz-form-item>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <nz-form-item>
              <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="ghiChu">Ghi chú</nz-form-label>
              <nz-form-control [nzSm]="20" [nzXs]="24">
                <textarea nz-input formControlName="ghiChu" id="ghiChu"></textarea>
              </nz-form-control>
            </nz-form-item>
          </td>
        </tr>
        <tr>
          <td>
            <button type="button" nz-button nzType="primary" (click)="addImportDetail()" style="margin-right: 1rem;">
              <i nz-icon type="plus" theme="outline"></i> Nhập chi tiết
            </button>
          </td>
          <td style="text-align: right;">
            <button type="button" nz-button nzType="default" [routerLink]="['/admin/nghiep-vu/danh-sach-phieu-nhap']">
              <i nz-icon type="close" theme="outline"></i> Hủy
            </button>
            <button type="submit" nz-button nzType="primary" style="margin-left:1rem;"
              [disabled]="!importMaterialForm.dirty">
              <i nz-icon type="save" theme="outline"></i> Lưu
            </button>
          </td>
        </tr>
      </table>
    </nz-card>
    <ng-template #extraTemplate>
      <button type="button" nzSize="small" nz-tooltip nzTitle="Tạo phiếu nhập" nz-button nzType="primary"
        [routerLink]="['/admin/nghiep-vu/tao-phieu-nhap']"><i nz-icon type="plus" theme="outline"></i>
      </button>
    </ng-template>
  </form>
  <br />
  <nz-card style="width:100%;" nzTitle="Danh sách chi tiết phiếu nhập" *ngIf="importMaterialDetails.length > 0"
    [ngSwitch]="materialItemId">
    <!-- Máy TTB - Vật tư y tế - Vật tư hậu cần - Thuốc hóa chất -->
    <nz-table #basicTable nzSize="middle" [nzData]="importMaterialDetails" nzBordered [nzLoading]="loading"
      [nzShowPagination]="false" *ngSwitchCase="10">
      <thead>
        <tr>
          <th nzWidth="10%" class="text-center"></th>
          <th nzWidth="20%" class="text-center">Vật tư</th>
          <th nzWidth="10%" class="text-center">Số Seri</th>
          <th nzWidth="10%" class="text-center">Model</th>
          <th nzWidth="10%" class="text-center">Nước SX</th>
          <th nzWidth="10%" class="text-center">ĐVT</th>
          <th nzWidth="10%" class="text-center">SL</th>
          <th nzWidth="10%" class="text-center">Đơn giá</th>
          <th nzWidth="10%" class="text-center">Thành tiền</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td class="text-center">
            <nz-button-group>
              <button type="button" nzSize="small" nz-button nzType="default" class="btn-info" nz-tooltip nzTitle="Sửa"
                (click)="updateImportDetail(data)">
                <i nz-icon type="edit" theme="outline"></i>
              </button>
              <button type="button" nz-button nzSize="small" nzType="default" class="btn-danger" nz-tooltip
                nzTitle="Xóa" (click)="deleteImportDetail(data)">
                <i nz-icon type="delete" theme="outline"></i>
              </button>
            </nz-button-group>
          </td>
          <td>{{data.tenVT}}</td>
          <td class="text-center">{{data.seri}}</td>
          <td class="text-center">{{data.model}}</td>
          <td class="text-center">{{data.tenNuoc}}</td>
          <td class="text-center">{{data.tenDVT}}</td>
          <td class="text-center">{{data.soLuong}}</td>
          <td class="text-right">{{data.donGia | number: '1.0-0'}}</td>
          <td class="text-right">{{(data.soLuong * data.donGia) | number: '1.0-0'}}</td>
        </tr>
        <tr class="bg-footer-price">
          <td colspan="8" class="text-right">
            <strong>Tổng cộng:</strong>
          </td>
          <td class="text-right">
            <strong>{{totalAmount | number: '1.0-0'}}</strong>
          </td>
        </tr>
        <tr class="bg-footer-price">
          <td colspan="8" class="text-right">Giảm trừ {{discount}}%:</td>
          <td class="text-right">{{discountPrice | number: '1.0-0'}}</td>
        </tr>
        <tr class="bg-footer-price">
          <td colspan="8" class="text-right">
            <strong>Giá trị thực:</strong>
          </td>
          <td class="text-right">
            <strong>{{totalAmountAfterDiscount | number: '1.0-0'}}</strong>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <!-- Vũ khí trang thiết bị -->
    <nz-table #basicTable nzSize="middle" [nzData]="importMaterialDetails" nzBordered [nzLoading]="loading"
      [nzShowPagination]="false" *ngSwitchCase="11">
      <thead>
        <tr>
          <th nzWidth="8%"></th>
          <th nzWidth="10%">Vật tư</th>
          <th nzWidth="6%">ĐVT</th>
          <th nzWidth="10%">Số khung</th>
          <th nzWidth="10%">Số máy</th>
          <th nzWidth="8%">Năm SX</th>
          <th nzWidth="10%">Phân cấp</th>
          <th nzWidth="10%">Nguồn gốc</th>
          <th nzWidth="8%">SL</th>
          <th nzWidth="10%">Đơn giá</th>
          <th nzWidth="10%">Thành tiền</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td class="text-center">
            <nz-button-group>
              <button type="button" nzSize="small" nz-button nzType="default" class="btn-info" nz-tooltip nzTitle="Sửa"
                (click)="updateImportDetail(data)">
                <i nz-icon type="edit" theme="outline"></i>
              </button>
              <button type="button" nz-button nzSize="small" nzType="default" class="btn-danger" nz-tooltip
                nzTitle="Xóa" (click)="deleteImportDetail(data)">
                <i nz-icon type="delete" theme="outline"></i>
              </button>
            </nz-button-group>
          </td>
          <td>{{data.tenVT}}</td>
          <td class="text-center">{{data.tenDVT}}</td>
          <td class="text-center">{{data.soKhung}}</td>
          <td class="text-center">{{data.soMay}}</td>
          <td class="text-center">{{data.namSX | date:'yyyy'}}</td>
          <td class="text-center">{{data.phanCap}}</td>
          <td class="text-center">{{data.tenNguon}}</td>
          <td class="text-center">{{data.soLuong}}</td>
          <td class="text-right">{{data.donGia | number: '1.0-0'}}</td>
          <td class="text-right">{{(data.soLuong * data.donGia) | number: '1.0-0'}}</td>
        </tr>
        <tr class="bg-footer-price">
          <td colspan="10" class="text-right">
            <strong>Tổng cộng:</strong>
          </td>
          <td class="text-right">
            <strong>{{totalAmount | number: '1.0-0'}}</strong>
          </td>
        </tr>
        <tr class="bg-footer-price">
          <td colspan="10" class="text-right">Giảm trừ {{discount}}%:</td>
          <td class="text-right">{{discountPrice | number: '1.0-0'}}</td>
        </tr>
        <tr class="bg-footer-price">
          <td colspan="10" class="text-right">
            <strong>Giá trị thực:</strong>
          </td>
          <td class="text-right">
            <strong>{{totalAmountAfterDiscount | number: '1.0-0'}}</strong>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <!-- Hàng viện trợ Mỹ -->
    <nz-table #basicTable nzSize="middle" [nzData]="importMaterialDetails" nzBordered [nzLoading]="loading"
      [nzShowPagination]="false" *ngSwitchCase="12">
      <thead>
        <tr>
          <th nzWidth="8%"></th>
          <th nzWidth="10%">Vật tư</th>
          <th nzWidth="10%">Seri</th>
          <th nzWidth="8%">Hãng SX</th>
          <th nzWidth="8%">Nước SX</th>
          <th nzWidth="10%">Model</th>
          <th nzWidth="6%">ĐVT</th>
          <th nzWidth="10%">Ghi chú</th>
          <th nzWidth="10%">SL</th>
          <th nzWidth="10%">Đơn giá</th>
          <th nzWidth="10%">Thành tiền</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td class="text-center">
            <nz-button-group>
              <button type="button" nzSize="small" nz-button nzType="default" class="btn-info" nz-tooltip nzTitle="Sửa"
                (click)="updateImportDetail(data)">
                <i nz-icon type="edit" theme="outline"></i>
              </button>
              <button type="button" nz-button nzSize="small" nzType="default" class="btn-danger" nz-tooltip
                nzTitle="Xóa" (click)="deleteImportDetail(data)">
                <i nz-icon type="delete" theme="outline"></i>
              </button>
            </nz-button-group>
          </td>
          <td>{{data.tenVT}}</td>
          <td class="text-center">{{data.seri}}</td>
          <td class="text-center">{{data.tenHang}}</td>
          <td class="text-center">{{data.tenNuoc}}</td>
          <td class="text-center">{{data.model}}</td>
          <td class="text-center">{{data.tenDVT}}</td>
          <td>{{data.ghiChu}}</td>
          <td class="text-center">{{data.soLuong}}</td>
          <td class="text-right">{{data.donGia | number: '1.0-0'}}</td>
          <td class="text-right">{{(data.soLuong * data.donGia) | number: '1.0-0'}}</td>
        </tr>
        <tr class="bg-footer-price">
          <td colspan="10" class="text-right">
            <strong>Tổng cộng:</strong>
          </td>
          <td class="text-right">
            <strong>{{totalAmount | number: '1.0-0'}}</strong>
          </td>
        </tr>
        <tr class="bg-footer-price">
          <td colspan="10" class="text-right">Giảm trừ {{discount}}%:</td>
          <td class="text-right">{{discountPrice | number: '1.0-0'}}</td>
        </tr>
        <tr class="bg-footer-price">
          <td colspan="10" class="text-right">
            <strong>Giá trị thực:</strong>
          </td>
          <td class="text-right">
            <strong>{{totalAmountAfterDiscount | number: '1.0-0'}}</strong>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <!-- Trang thiết bị cục quân y cấp -->
    <nz-table #basicTable nzSize="middle" [nzData]="importMaterialDetails" nzBordered [nzLoading]="loading"
      [nzShowPagination]="false" *ngSwitchCase="13">
      <thead>
        <tr>
          <th nzWidth="10%"></th>
          <th nzWidth="20%">Vật tư</th>
          <th nzWidth="10%">Model</th>
          <th nzWidth="10%">Nước SX</th>
          <th nzWidth="10%">ĐVT</th>
          <th nzWidth="10%">SL</th>
          <th nzWidth="15%">Đơn giá</th>
          <th nzWidth="15%">Thành tiền</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td class="text-center">
            <nz-button-group>
              <button type="button" nzSize="small" nz-button nzType="default" class="btn-info" nz-tooltip nzTitle="Sửa"
                (click)="updateImportDetail(data)">
                <i nz-icon type="edit" theme="outline"></i>
              </button>
              <button type="button" nz-button nzSize="small" nzType="default" class="btn-danger" nz-tooltip
                nzTitle="Xóa" (click)="deleteImportDetail(data)">
                <i nz-icon type="delete" theme="outline"></i>
              </button>
            </nz-button-group>
          </td>
          <td>{{data.tenVT}}</td>
          <td class="text-center">{{data.model}}</td>
          <td class="text-center">{{data.tenNuoc}}</td>
          <td class="text-center">{{data.tenDVT}}</td>
          <td class="text-center">{{data.soLuong}}</td>
          <td class="text-right">{{data.donGia | number: '1.0-0'}}</td>
          <td class="text-right">{{(data.soLuong * data.donGia) | number: '1.0-0'}}</td>
        </tr>
        <tr class="bg-footer-price">
          <td colspan="7" class="text-right">
            <strong>Tổng cộng:</strong>
          </td>
          <td class="text-right">
            <strong>{{totalAmount | number: '1.0-0'}}</strong>
          </td>
        </tr>
        <tr class="bg-footer-price">
          <td colspan="7" class="text-right">Giảm trừ {{discount}}%:</td>
          <td class="text-right">{{discountPrice | number: '1.0-0'}}</td>
        </tr>
        <tr class="bg-footer-price">
          <td colspan="7" class="text-right">
            <strong>Giá trị thực:</strong>
          </td>
          <td class="text-right">
            <strong>{{totalAmountAfterDiscount | number: '1.0-0'}}</strong>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <!-- Hàng tài trợ trong nước -->
    <nz-table #basicTable nzSize="middle" [nzData]="importMaterialDetails" nzBordered [nzLoading]="loading"
      [nzShowPagination]="false" *ngSwitchCase="14">
      <thead>
        <tr>
          <th nzWidth="10%"></th>
          <th nzWidth="20%">Vật tư</th>
          <th nzWidth="10%">Model</th>
          <th nzWidth="10%">Nước SX</th>
          <th nzWidth="10%">ĐVT</th>
          <th nzWidth="10%">SL</th>
          <th nzWidth="15%">Đơn giá</th>
          <th nzWidth="15%">Thành tiền</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td class="text-center">
            <nz-button-group>
              <button type="button" nzSize="small" nz-button nzType="default" class="btn-info" nz-tooltip nzTitle="Sửa"
                (click)="updateImportDetail(data)">
                <i nz-icon type="edit" theme="outline"></i>
              </button>
              <button type="button" nz-button nzSize="small" nzType="default" class="btn-danger" nz-tooltip
                nzTitle="Xóa" (click)="deleteImportDetail(data)">
                <i nz-icon type="delete" theme="outline"></i>
              </button>
            </nz-button-group>
          </td>
          <td>{{data.tenVT}}</td>
          <td class="text-center">{{data.model}}</td>
          <td class="text-center">{{data.tenNuoc}}</td>
          <td class="text-center">{{data.tenDVT}}</td>
          <td class="text-center">{{data.soLuong}}</td>
          <td class="text-right">{{data.donGia | number: '1.0-0'}}</td>
          <td class="text-right">{{(data.soLuong * data.donGia) | number: '1.0-0'}}</td>
        </tr>
        <tr class="bg-footer-price">
          <td colspan="7" class="text-right">
            <strong>Tổng cộng:</strong>
          </td>
          <td class="text-right">
            <strong>{{totalAmount | number: '1.0-0'}}</strong>
          </td>
        </tr>
        <tr class="bg-footer-price">
          <td colspan="7" class="text-right">Giảm trừ {{discount}}%:</td>
          <td class="text-right">{{discountPrice | number: '1.0-0'}}</td>
        </tr>
        <tr class="bg-footer-price">
          <td colspan="7" class="text-right">
            <strong>Giá trị thực:</strong>
          </td>
          <td class="text-right">
            <strong>{{totalAmountAfterDiscount | number: '1.0-0'}}</strong>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <!-- Danh mục thể thao văn hóa -->
    <nz-table #basicTable nzSize="middle" [nzData]="importMaterialDetails" nzBordered [nzLoading]="loading"
      [nzShowPagination]="false" *ngSwitchCase="15">
      <thead>
        <tr>
          <th nzWidth="10%"></th>
          <th nzWidth="20%">Vật tư</th>
          <th nzWidth="10%">Hãng SX</th>
          <th nzWidth="10%">Nước SX</th>
          <th nzWidth="10%">ĐVT</th>
          <th nzWidth="10%">SL</th>
          <th nzWidth="15%">Đơn giá</th>
          <th nzWidth="15%">Thành tiền</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td class="text-center">
            <nz-button-group>
              <button type="button" nzSize="small" nz-button nzType="default" class="btn-info" nz-tooltip nzTitle="Sửa"
                (click)="updateImportDetail(data)">
                <i nz-icon type="edit" theme="outline"></i>
              </button>
              <button type="button" nz-button nzSize="small" nzType="default" class="btn-danger" nz-tooltip
                nzTitle="Xóa" (click)="deleteImportDetail(data)">
                <i nz-icon type="delete" theme="outline"></i>
              </button>
            </nz-button-group>
          </td>
          <td>{{data.tenVT}}</td>
          <td class="text-center">{{data.tenHang}}</td>
          <td class="text-center">{{data.tenNuoc}}</td>
          <td class="text-center">{{data.tenDVT}}</td>
          <td class="text-center">{{data.soLuong}}</td>
          <td class="text-right">{{data.donGia | number: '1.0-0'}}</td>
          <td class="text-right">{{(data.soLuong * data.donGia) | number: '1.0-0'}}</td>
        </tr>
        <tr class="bg-footer-price">
          <td colspan="7" class="text-right">
            <strong>Tổng cộng:</strong>
          </td>
          <td class="text-right">
            <strong>{{totalAmount | number: '1.0-0'}}</strong>
          </td>
        </tr>
        <tr class="bg-footer-price">
          <td colspan="7" class="text-right">Giảm trừ {{discount}}%:</td>
          <td class="text-right">{{discountPrice | number: '1.0-0'}}</td>
        </tr>
        <tr class="bg-footer-price">
          <td colspan="7" class="text-right">
            <strong>Giá trị thực:</strong>
          </td>
          <td class="text-right">
            <strong>{{totalAmountAfterDiscount | number: '1.0-0'}}</strong>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <!-- Danh mục thuốc -->
    <nz-table #basicTable nzSize="middle" [nzData]="importMaterialDetails" nzBordered [nzLoading]="loading"
      [nzShowPagination]="false" *ngSwitchCase="16">
      <thead>
        <tr>
          <th nzWidth="7%"></th>
          <th nzWidth="10%">Vật tư</th>
          <th nzWidth="10%">Biệt dược</th>
          <th nzWidth="7%">Hãng SX</th>
          <th nzWidth="7%">Nước SX</th>
          <th nzWidth="6%">ĐVT</th>
          <th nzWidth="8%">Số đăng ký</th>
          <th nzWidth="8%">Số lô</th>
          <th nzWidth="8%">Hạn dùng</th>
          <th nzWidth="8%">Đợt mua</th>
          <th nzWidth="5%">SL</th>
          <th nzWidth="8%">Đơn giá</th>
          <th nzWidth="8%">Thành tiền</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>
            <button type="button" nzSize="small" nz-button nzType="default" class="btn-info" nz-tooltip nzTitle="Sửa"
              (click)="updateImportDetail(data)" style="margin-right: 0.5rem;">
              <i nz-icon type="edit" theme="outline"></i>
            </button>
            <button type="button" nz-button nzSize="small" nzType="default" class="btn-danger" nz-tooltip nzTitle="Xóa"
              (click)="deleteImportDetail(data)">
              <i nz-icon type="delete" theme="outline"></i>
            </button>
          </td>
          <td>{{data.tenVT}}</td>
          <td>{{data.bietDuoc}}</td>
          <td class="text-center">{{data.tenHang}}</td>
          <td class="text-center">{{data.tenNuoc}}</td>
          <td class="text-center">{{data.tenDVT}}</td>
          <td class="text-center">{{data.soDangKy}}</td>
          <td class="text-center">{{data.soLo}}</td>
          <td class="text-center">{{data.hanDung}}</td>
          <td class="text-center">{{data.dotMua}}</td>
          <td class="text-center">{{data.soLuong}}</td>
          <td class="text-right">{{data.donGia | number: '1.0-0'}}</td>
          <td class="text-right">{{(data.soLuong * data.donGia) | number: '1.0-0'}}</td>
        </tr>
        <tr class="bg-footer-price">
          <td colspan="12" class="text-right">
            <strong>Tổng cộng:</strong>
          </td>
          <td class="text-right">
            <strong>{{totalAmount | number: '1.0-0'}}</strong>
          </td>
        </tr>
        <tr class="bg-footer-price">
          <td colspan="12" class="text-right">Giảm trừ {{discount}}%:</td>
          <td class="text-right">{{discountPrice | number: '1.0-0'}}</td>
        </tr>
        <tr class="bg-footer-price">
          <td colspan="12" class="text-right">
            <strong>Giá trị thực:</strong>
          </td>
          <td class="text-right">
            <strong>{{totalAmountAfterDiscount | number: '1.0-0'}}</strong>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>
</div>