<nz-breadcrumb style="margin:16px 0;">
  <nz-breadcrumb-item>Trang chủ</nz-breadcrumb-item>
  <nz-breadcrumb-item>Nghiệp vụ</nz-breadcrumb-item>
  <nz-breadcrumb-item>Nhập</nz-breadcrumb-item>
  <nz-breadcrumb-item>Sửa phiếu nhập</nz-breadcrumb-item>
</nz-breadcrumb>

<div style="padding:24px; background: #fff; min-height: 70vh">
  <form nz-form [formGroup]="importMaterialForm" (ngSubmit)="saveChanges()" autocomplete="off">
    <nz-card style="width:100%;" nzTitle="Nhập vật tư">
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="maKho">Kho hàng</nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="24">
          <nz-select nzDisabled nzShowSearch nzAllowClear nzPlaceHolder="Chọn kho hàng" formControlName="maKho"
            id="maKho">
            <nz-option *ngFor="let item of materialStores" [nzValue]="item.maKho" [nzLabel]="item.tenKho"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="importMaterialForm.get('maKho').dirty && importMaterialForm.get('maKho').errors">
            <ng-container *ngIf="importMaterialForm.get('maKho').hasError('required')">
              Vui lòng chọn kho hàng!
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="maHM">Hạng mục vật tư</nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="24">
          <nz-select nzDisabled nzShowSearch nzAllowClear nzPlaceHolder="Chọn hạng mục vật tư" formControlName="maHM"
            id="maHM">
            <nz-option *ngFor="let item of materialItems" [nzValue]="item.maHM" [nzLabel]="item.tenHM"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="importMaterialForm.get('maHM').dirty && importMaterialForm.get('maHM').errors">
            <ng-container *ngIf="importMaterialForm.get('maHM').hasError('required')">
              Vui lòng chọn hạng mục vật tư!
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="ngayNhap">Ngày nhập</nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="24">
          <nz-date-picker formControlName="ngayNhap" [nzPlaceHolder]="'dd/MM/yyyy'" nzFormat="dd/MM/yyyy">
          </nz-date-picker>
          <nz-form-explain
            *ngIf="importMaterialForm.get('ngayNhap').dirty && importMaterialForm.get('ngayNhap').errors">
            <ng-container *ngIf="importMaterialForm.get('ngayNhap').hasError('required')">
              Vui lòng chọn ngày nhập!
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="maHM">Chiết khấu</nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="24">
          <nz-input-number formControlName="chietKhau" [nzMin]="0" [nzMax]="100" [nzStep]="1"
            [nzFormatter]="formatterPercent" [nzParser]="parserPercent"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="ghiChu">Ghi chú</nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="24">
          <textarea nz-input formControlName="ghiChu" id="ghiChu"></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item style="margin-bottom: 0;">
        <nz-form-control nzOffset="7" [nzSm]="10" [nzXs]="24">
          <button type="submit" nz-button nzType="primary" style="margin-right: 1rem;"
            [disabled]="!importMaterialForm.dirty">
            <i nz-icon type="save" theme="outline"></i> Lưu
          </button>
          <button type="button" nz-button nzType="primary" (click)="addImportDetail()" style="margin-right: 1rem;">
            <i nz-icon type="plus" theme="outline"></i> Nhập chi tiết
          </button>
          <button type="button" nz-button nzType="default" [routerLink]="['/admin/nghiep-vu/danh-sach-phieu-nhap']">
            <i nz-icon type="arrow-left" theme="outline"></i> Quay lại
          </button>
        </nz-form-control>
      </nz-form-item>
    </nz-card>
  </form>
  <br />
  <nz-card style="width:100%;" nzTitle="Danh sách chi tiết nhập vật tư" *ngIf="importMaterialDetails.length > 0"
    [ngSwitch]="materialItemId">
    <!-- Xe và vật tư thay thế -->
    <nz-table #basicTable [nzData]="importMaterialDetails" [nzLoading]="loading" [nzShowPagination]="false"
      *ngSwitchCase="10">
      <thead>
        <tr>
          <th nzWidth="25%">Vật tư</th>
          <th nzWidth="15%">Model</th>
          <th nzWidth="15%">Nước sản xuất</th>
          <th nzWidth="15%">Số lượng</th>
          <th nzWidth="15%">Đơn giá</th>
          <th nzWidth="15%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{data.tenVT}}</td>
          <td>{{data.model}}</td>
          <td>{{data.tenNuoc}}</td>
          <td>{{data.soLuong}}</td>
          <td>{{data.donGia | number: '1.0-0'}}</td>
          <td>
            <button type="button" nz-button nzType="default" class="btn-info" nz-tooltip nzTitle="Sửa"
              (click)="updateImportDetail(data)">
              <i nz-icon type="edit" theme="outline"></i>
            </button>
            <nz-divider nzType="vertical"></nz-divider>
            <button type="button" nz-button nzType="danger" nz-tooltip nzTitle="Xóa" (click)="deleteImportDetail(data)">
              <i nz-icon type="delete" theme="outline"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <!-- Vũ khí trang thiết bị -->
    <nz-table #basicTable [nzData]="importMaterialDetails" [nzLoading]="loading" [nzShowPagination]="false"
      *ngSwitchCase="11">
      <thead>
        <tr>
          <th nzWidth="15%">Vật tư</th>
          <th nzWidth="15%">Số khung</th>
          <th nzWidth="15%">Số máy</th>
          <th nzWidth="10%">Năm sản xuất</th>
          <th nzWidth="10%">Phân cấp</th>
          <th nzWidth="15%">Nguồn gốc</th>
          <th nzWidth="10%">Số lượng</th>
          <th nzWidth="10%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{data.tenVT}}</td>
          <td>{{data.soKhung}}</td>
          <td>{{data.soMay}}</td>
          <td>{{data.namSX | date:'yyyy'}}</td>
          <td>{{data.phanCap}}</td>
          <td>{{data.tenNguon}}</td>
          <td>{{data.soLuong}}</td>
          <td>
            <button type="button" nz-button nzType="default" class="btn-info" nz-tooltip nzTitle="Sửa"
              (click)="updateImportDetail(data)">
              <i nz-icon type="edit" theme="outline"></i>
            </button>
            <button nz-button nzType="danger" nz-tooltip nzTitle="Xóa" (click)="deleteImportDetail(data)">
              <i nz-icon type="delete" theme="outline"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <!-- Hàng viện trợ Mỹ -->
    <nz-table #basicTable [nzData]="importMaterialDetails" [nzLoading]="loading" [nzShowPagination]="false"
      *ngSwitchCase="12">
      <thead>
        <tr>
          <th nzWidth="15%">Vật tư</th>
          <th nzWidth="10%">Seri</th>
          <th nzWidth="15%">Hãng sản xuất</th>
          <th nzWidth="15%">Năm sản xuất</th>
          <th nzWidth="15%">Model</th>
          <th nzWidth="10%">Số lượng</th>
          <th nzWidth="10%">Ghi chú</th>
          <th nzWidth="10%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{data.tenVT}}</td>
          <td>{{data.seri}}</td>
          <td>{{data.tenHang}}</td>
          <td>{{data.tenNuoc}}</td>
          <td>{{data.model}}</td>
          <td>{{data.soLuong}}</td>
          <td>{{data.ghiChu}}</td>
          <td>
            <button type="button" nz-button nzType="default" class="btn-info" nz-tooltip nzTitle="Sửa"
              (click)="updateImportDetail(data)">
              <i nz-icon type="edit" theme="outline"></i>
            </button>
            <button nz-button nzType="danger" nz-tooltip nzTitle="Xóa" (click)="deleteImportDetail(data)">
              <i nz-icon type="delete" theme="outline"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <!-- Trang thiết bị cục quân y cấp -->
    <nz-table #basicTable [nzData]="importMaterialDetails" [nzLoading]="loading" [nzShowPagination]="false"
      *ngSwitchCase="13">
      <thead>
        <tr>
          <th nzWidth="25%">Vật tư</th>
          <th nzWidth="15%">Nước sản xuất</th>
          <th nzWidth="15%">Model</th>
          <th nzWidth="15%">Số lượng</th>
          <th nzWidth="15%">Đơn giá</th>
          <th nzWidth="15%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{data.tenVT}}</td>
          <td>{{data.tenNuoc}}</td>
          <td>{{data.model}}</td>
          <td>{{data.soLuong}}</td>
          <td>{{data.donGia | number: '1.0-0'}}</td>
          <td>
            <button type="button" nz-button nzType="default" class="btn-info" nz-tooltip nzTitle="Sửa"
              (click)="updateImportDetail(data)">
              <i nz-icon type="edit" theme="outline"></i>
            </button>
            <button nz-button nzType="danger" nz-tooltip nzTitle="Xóa" (click)="deleteImportDetail(data)">
              <i nz-icon type="delete" theme="outline"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <!-- Hàng tài trợ trong nước -->
    <nz-table #basicTable [nzData]="importMaterialDetails" [nzLoading]="loading" [nzShowPagination]="false"
      *ngSwitchCase="14">
      <thead>
        <tr>
          <th nzWidth="25%">Vật tư</th>
          <th nzWidth="15%">Nước sản xuất</th>
          <th nzWidth="15%">Model</th>
          <th nzWidth="15%">Số lượng</th>
          <th nzWidth="15%">Đơn giá</th>
          <th nzWidth="15%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{data.tenVT}}</td>
          <td>{{data.tenNuoc}}</td>
          <td>{{data.model}}</td>
          <td>{{data.soLuong}}</td>
          <td>{{data.donGia | number: '1.0-0'}}</td>
          <td>
            <button type="button" nz-button nzType="default" class="btn-info" nz-tooltip nzTitle="Sửa"
              (click)="updateImportDetail(data)">
              <i nz-icon type="edit" theme="outline"></i>
            </button>
            <button nz-button nzType="danger" nz-tooltip nzTitle="Xóa" (click)="deleteImportDetail(data)">
              <i nz-icon type="delete" theme="outline"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <!-- Danh mục thể thao văn hóa -->
    <nz-table #basicTable [nzData]="importMaterialDetails" [nzLoading]="loading" [nzShowPagination]="false"
      *ngSwitchCase="15">
      <thead>
        <tr>
          <th nzWidth="20%">Vật tư</th>
          <th nzWidth="15%">Hãng sản xuất</th>
          <th nzWidth="15%">Nước sản xuất</th>
          <th nzWidth="15%">Model</th>
          <th nzWidth="10%">Số lượng</th>
          <th nzWidth="15%">Đơn giá</th>
          <th nzWidth="10%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{data.tenVT}}</td>
          <td>{{data.tenHang}}</td>
          <td>{{data.tenNuoc}}</td>
          <td>{{data.model}}</td>
          <td>{{data.soLuong}}</td>
          <td>{{data.donGia | number: '1.0-0'}}</td>
          <td>
            <button type="button" nz-button nzType="default" class="btn-info" nz-tooltip nzTitle="Sửa"
              (click)="updateImportDetail(data)">
              <i nz-icon type="edit" theme="outline"></i>
            </button>
            <button nz-button nzType="danger" nz-tooltip nzTitle="Xóa" (click)="deleteImportDetail(data)">
              <i nz-icon type="delete" theme="outline"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <!-- Danh mục thuốc -->
    <nz-table #basicTable [nzData]="importMaterialDetails" [nzLoading]="loading" [nzShowPagination]="false"
      *ngSwitchCase="16">
      <thead>
        <tr>
          <th nzWidth="20%">Vật tư</th>
          <th nzWidth="15%">Nước sản xuất</th>
          <th nzWidth="15%">Số đăng ký</th>
          <th nzWidth="15%">Đợt mua</th>
          <th nzWidth="10%">Số lượng</th>
          <th nzWidth="15%">Đơn giá</th>
          <th nzWidth="10%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{data.tenVT}}</td>
          <td>{{data.tenNuoc}}</td>
          <td>{{data.soDangKy}}</td>
          <td>{{data.dotMua}}</td>
          <td>{{data.soLuong}}</td>
          <td>{{data.donGia | number: '1.0-0'}}</td>
          <td>
            <button type="button" nz-button nzType="default" class="btn-info" nz-tooltip nzTitle="Sửa"
              (click)="updateImportDetail(data)">
              <i nz-icon type="edit" theme="outline"></i>
            </button>
            <button nz-button nzType="danger" nz-tooltip nzTitle="Xóa" (click)="deleteImportDetail(data)">
              <i nz-icon type="delete" theme="outline"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>
</div>