<nz-breadcrumb style="margin:16px 0;">
  <nz-breadcrumb-item>Trang chủ</nz-breadcrumb-item>
  <nz-breadcrumb-item>Nghiệp vụ</nz-breadcrumb-item>
  <nz-breadcrumb-item>Nhập</nz-breadcrumb-item>
  <nz-breadcrumb-item>Tạo phiếu nhập</nz-breadcrumb-item>
</nz-breadcrumb>

<div style="padding:24px; background: #fff; min-height: 70vh">
  <form nz-form [formGroup]="importMaterialForm" (ngSubmit)="saveChanges()" autocomplete="off">
    <nz-card style="width:100%;" nzTitle="Nhập vật tư">
      <table style="width: 100%;">
        <tr>
          <td style="width: 10%;">
            <nz-form-label nzRequired nzFor="maKho">Kho hàng</nz-form-label>
          </td>
          <td style="width: 20%">
            <nz-form-control>
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn kho hàng" formControlName="maKho" id="maKho">
                <nz-option *ngFor="let item of materialStores" [nzValue]="item.maKho" [nzLabel]="item.tenKho">
                </nz-option>
              </nz-select>
              <nz-form-explain *ngIf="importMaterialForm.get('maKho').dirty && importMaterialForm.get('maKho').errors">
                <ng-container *ngIf="importMaterialForm.get('maKho').hasError('required')">
                  Vui lòng chọn kho hàng!
                </ng-container>
              </nz-form-explain>
            </nz-form-control>
          </td>
          <td style="width: 10%;">
            <nz-form-label nzRequired nzFor="maHM">Hạng mục vật tư</nz-form-label>
          </td>
          <td style="width: 30%;">
            <nz-form-control>
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn hạng mục vật tư" formControlName="maHM"
                id="maHM">
                <nz-option *ngFor="let item of materialItems" [nzValue]="item.maHM" [nzLabel]="item.tenHM"></nz-option>
              </nz-select>
              <nz-form-explain *ngIf="importMaterialForm.get('maHM').dirty && importMaterialForm.get('maHM').errors">
                <ng-container *ngIf="importMaterialForm.get('maHM').hasError('required')">
                  Vui lòng chọn hạng mục vật tư!
                </ng-container>
              </nz-form-explain>
            </nz-form-control>
          </td>
          <td style="width: 10%;">
            <nz-form-label nzRequired nzFor="ngayNhap">Ngày nhập</nz-form-label>
          </td>
          <td style="width: 20%;">
            <nz-form-control>
              <input type="date" nz-input formControlName="ngayNhap" id="ngayNhap" />
              <nz-form-explain
                *ngIf="importMaterialForm.get('ngayNhap').dirty && importMaterialForm.get('ngayNhap').errors">
                <ng-container *ngIf="importMaterialForm.get('ngayNhap').hasError('required')">
                  Vui lòng chọn ngày nhập!
                </ng-container>
              </nz-form-explain>
            </nz-form-control>
          </td>
        </tr>
        <tr>
          <td>
            <nz-form-label nzFor="maHM">Chiết khấu</nz-form-label>
          </td>
          <td>
            <nz-form-control>
              <nz-input-number formControlName="chietKhau" [nzMin]="0" [nzMax]="100" [nzStep]="1"
                [nzFormatter]="formatterPercent" [nzParser]="parserPercent"></nz-input-number>
            </nz-form-control>
          </td>
          <td>
            <nz-form-label nzFor="ghiChu">Ghi chú</nz-form-label>
          </td>
          <td colspan="3">
            <nz-form-control >
              <textarea nz-input formControlName="ghiChu" id="ghiChu"></textarea>
            </nz-form-control>
          </td>
        </tr>
        <tr>
          <td colspan="6" style="text-align: right;">
            <button type="button" nz-button nzType="default" [routerLink]="['/admin/nghiep-vu/danh-sach-phieu-nhap']">
              <i nz-icon type="close" theme="outline"></i> Hủy
            </button>
            <button type="submit" nz-button nzType="primary" style="margin-left:1rem;">
              <i nz-icon type="save" theme="outline"></i> Lưu
            </button>
          </td>
        </tr>
      </table>
    </nz-card>
  </form>
</div>