<nz-breadcrumb style="margin:16px 0;">
  <nz-breadcrumb-item>Trang chủ</nz-breadcrumb-item>
  <nz-breadcrumb-item>Nghiệp vụ</nz-breadcrumb-item>
  <nz-breadcrumb-item>Nhập</nz-breadcrumb-item>
  <nz-breadcrumb-item>Nhập vật tư</nz-breadcrumb-item>
</nz-breadcrumb>

<div style="padding:24px; background: #fff; min-height: 70vh">
  <form #importMaterialForm="ngForm" (ngSubmit)="saveChanges()" novalidate>
    <div class="row mb-2">
      <div class="col-md-4 col-sm-12">
      </div>
      <div class="col-md-8 col-sm-12 text-right">
      </div>
    </div>
    <nz-card style="width:100%;" nzTitle="Nhập vật tư">
      <div class="form-group row">
        <label for="ddlMaKho" class="col-sm-2 col-form-label">Tên kho (*)</label>
        <div class="col-sm-10">
          <select id="ddlMaKho" class="form-control" required name="maKho" [(ngModel)]="nhapVatTuParams.mnhapvattu.maKho"
            #maKho="ngModel" [ngClass]="{
            'is-valid': maKho.valid,
            'is-invalid': maKho.invalid && (maKho.dirty || maKho.touched)
          }">
            <option *ngFor="let item of materialStores" [value]="item.maKho">
              {{item.tenKho}}
            </option>
          </select>
          <div class="invalid-feedback">
            <div *ngIf="maKho?.errors?.required">
              Vui lòng chọn tên kho!
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="ddlMaHM" class="col-sm-2 col-form-label">Hạng mục vật tư (*)</label>
        <div class="col-sm-10">
          <select id="ddlMaHM" class="form-control" required name="maHM" [(ngModel)]="nhapVatTuParams.mnhapvattu.maHM"
            #maHM="ngModel" [ngClass]="{
          'is-valid': maHM.valid,
          'is-invalid': maHM.invalid && (maHM.dirty || maHM.touched)
        }">
            <option *ngFor="let item of materialItems" [value]="item.maHM">
              {{item.tenHM}}
            </option>
          </select>
          <div class="invalid-feedback">
            <div *ngIf="maHM?.errors?.required">
              Vui lòng chọn hạng mục vật tư!
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="txtNgayNhap" class="col-sm-2 col-form-label">Ngày nhập (*)</label>
        <div class="col-sm-10">
          <input id="txtNgayNhap" type="date" class="form-control" required name="ngayNhap" [(ngModel)]="nhapVatTuParams.mnhapvattu.ngayNhap"
            #ngayNhap="ngModel" [ngClass]="{
          'is-valid': ngayNhap.valid,
          'is-invalid': ngayNhap.invalid && (ngayNhap.dirty || ngayNhap.touched)
        }" />
          <div class="invalid-feedback">
            <div *ngIf="ngayNhap?.errors?.required">
              Vui lòng nhập ngày nhập vật tư!
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="txtChietKhau" class="col-sm-2 col-form-label">Chiết khấu</label>
        <div class="col-sm-10">
          <input id="txtChietKhau" type="number" class="form-control" name="chietKhau" [(ngModel)]="nhapVatTuParams.mnhapvattu.chietKhau"
            #chietKhau="ngModel" [ngClass]="{
        'is-valid': chietKhau.valid,
        'is-invalid': chietKhau.invalid && (chietKhau.dirty || chietKhau.touched)
      }" />
        </div>
      </div>
      <div class="form-group row">
        <label for="txtGhiChu" class="col-sm-2 col-form-label">Ghi chú</label>
        <div class="col-sm-10">
          <textarea id="txtGhiChu" class="form-control" name="ghiChu" [(ngModel)]="nhapVatTuParams.mnhapvattu.ghiChu"
            #ghiChu="ngModel" [ngClass]="{
        'is-valid': ghiChu.valid,
        'is-invalid': ghiChu.invalid && (ghiChu.dirty || ghiChu.touched)
      }"></textarea>
        </div>
      </div>
    </nz-card>
    <br />
    <nz-card style="width:100%;" nzTitle="Nhập chi tiết vật tư">
      <div style="overflow-x: auto;">
        <table class="table table-bordered" style="width: 250%;">
          <thead>
            <tr>
              <th>#</th>
              <th>Tên vật tư (*)</th>
              <th>Số lượng (*)</th>
              <th>Đơn giá (*)</th>
              <th>Nước sản xuất</th>
              <th>Hãng sản xuất</th>
              <th>Model</th>
              <th>Seri</th>
              <th>Số khung</th>
              <th>Số máy</th>
              <th>Số đăng ký</th>
              <th>Đợt mua</th>
              <th>Năm sản xuất</th>
              <th>Phân cấp</th>
              <th>Nguồn gốc</th>
              <th>Ghi chú</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of nhapVatTuParams.listnhapchitiet; let i = index">
              <td>
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteRow(i)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
              <td>
                <select class="form-control" style="width: 200px;" [(ngModel)]="item.maVatTu" name="maVatTu{{i}}" #maVatTu{{i}}="ngModel">
                  <option *ngFor="let material of materials" [value]="material.maVatTu">
                    {{material.tenVT}}
                  </option>
                </select>
              </td>
              <td>
                <input type="number" class="form-control" name="soLuong{{i}}" [(ngModel)]="item.soLuong" #soLuong="ngModel" />
              </td>
              <td>
                <input type="text" class="form-control" name="donGia{{i}}" [(ngModel)]="item.donGia" #donGia="ngModel" />
              </td>
              <td>
                <select class="form-control" style="width: 150px;" name="maNuoc{{i}}" [(ngModel)]="item.maNuoc" #maNuoc{{i}}="ngModel">
                  <option *ngFor="let country of producingCountries" [value]="country.maNuoc">
                    {{country.tenNuoc}}
                  </option>
                </select>
              </td>
              <td>
                <select class="form-control" style="width: 150px;" name="maHang{{i}}" [(ngModel)]="item.maHang" #maHang{{i}}="ngModel">
                  <option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.maHang">
                    {{manufacturer.tenHang}}
                  </option>
                </select>
              </td>
              <td>
                <input type="text" class="form-control" name="model{{i}}" [(ngModel)]="item.model" #model{{i}}="ngModel" />
              </td>
              <td>
                <input type="text" class="form-control" name="seri{{i}}" [(ngModel)]="item.seri" #seri{{i}}="ngModel" />
              </td>
              <td>
                <input type="text" class="form-control" name="soKhung{{i}}" [(ngModel)]="item.soKhung" #soKhung{{i}}="ngModel" />
              </td>
              <td>
                <input type="text" class="form-control" name="soMay{{i}}" [(ngModel)]="item.soMay" #soMay{{i}}="ngModel" />
              </td>
              <td>
                <input type="text" class="form-control" name="soDangKy{{i}}" [(ngModel)]="item.soDangKy" #soDangKy{{i}}="ngModel" />
              </td>
              <td>
                <input type="text" class="form-control" name="dotMua{{i}}" [(ngModel)]="item.dotMua" #dotMua{{i}}="ngModel" />
              </td>
              <td>
                <input type="text" class="form-control" name="namSX{{i}}" [(ngModel)]="item.namSX" #namSX{{i}}="ngModel" />
              </td>
              <td>
                <input type="text" class="form-control" name="phanCap{{i}}" [(ngModel)]="item.phanCap" #phanCap{{i}}="ngModel" />
              </td>
              <td>
                <input type="text" class="form-control" name="nguonGoc{{i}}" [(ngModel)]="item.nguonGoc" #nguonGoc{{i}}="ngModel" />
              </td>
              <td>
                <input type="text" class="form-control" name="ghiChu{{i}}" [(ngModel)]="item.ghiChu" #ghiChu{{i}}="ngModel" />
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="16">
                <button type="button" class="btn btn-success btn-sm" (click)="addRowForMaterialDetail()">
                  <i class="fa fa-plus"></i>
                </button>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </nz-card>
    <div class="row mt-4 px-3">
      <button type="submit" class="btn btn-primary btn-block">
        Lưu
      </button>
    </div>
  </form>
</div>
