<nz-breadcrumb style="margin:16px 0;">
  <nz-breadcrumb-item>Trang chủ</nz-breadcrumb-item>
  <nz-breadcrumb-item>Hệ thống</nz-breadcrumb-item>
  <nz-breadcrumb-item>Danh sách người dùng</nz-breadcrumb-item>
</nz-breadcrumb>

<div style="padding:24px; background: #fff; min-height: 80vh">
  <div class="row mb-2">
    <div class="col-md-4 col-sm-12">
      <input type="text" class="form-control" #keyword placeholder="Tìm kiếm..." (keyup)="search(keyword.value)" />
    </div>
    <div class="col-md-8 col-sm-12 text-right">
      <button class="btn btn-success mr-1" (click)="addNew()">
        <i class="fa fa-plus"></i> Thêm mới
      </button>
    </div>
  </div>

  <nz-table #table nzShowSizeChanger 
    [nzFrontPagination]="false" 
    [nzData]="dataSet" 
    [nzLoading]="loading" 
    [nzTotal]="pagination.totalItems"
    [(nzPageIndex)]="pagination.currentPage" 
    [(nzPageSize)]="pagination.itemsPerPage" 
    [nzNoResult]="'Không tìm thấy kết quả.'"
    (nzPageIndexChange)="loadData()"
    (nzPageSizeChange)="loadData(true)"
    nzShowQuickJumper
    [nzShowTotal]="rangeTemplate">
    <ng-template #rangeTemplate let-range="range" let-total>
        {{range[0]}}-{{range[1]}} của {{total}} bản ghi
    </ng-template>
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th  nzWidth="15%" nzShowSort nzSortKey="userName">Tài khoản</th>
        <th  nzWidth="20%" nzShowSort nzSortKey="fullName">Họ tên</th>
        <th  nzWidth="20%" nzShowSort nzSortKey="email">Email</th>
        <th  nzWidth="20%">Vai trò</th>
        <th  nzWidth="10%">Trạng thái</th>
        <th  nzWidth="15%">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of table.data">
        <td>{{data.userName}}</td>
        <td>{{data.fullName}}</td>
        <td>{{data.email}}</td>
        <td>{{data.roles}}</td>
        <td>
          <nz-switch [ngModel]="data.status" [nzCheckedChildren]="checkedTemplate" [nzUnCheckedChildren]="unCheckedTemplate"
            (click)="changeStatus(data.id)"></nz-switch>
          <ng-template #checkedTemplate><i nz-icon type="check" nz-tooltip nzTitle="Kích hoạt"></i></ng-template>
          <ng-template #unCheckedTemplate><i nz-icon type="close" nz-tooltip nzTitle="Khóa"></i></ng-template>
        </td>
        <td>
            <button class="btn btn-info btn-sm" nz-tooltip nzTitle="Sửa" (click)="update(data.id)">
              <i class="fa fa-edit"></i>
            </button>
            <nz-divider nzType="vertical"></nz-divider>
            <button class="btn btn-primary btn-sm" nz-tooltip nzTitle="Phân vai trò" (click)="editRoles(data)">
              <i class="fa fa-users" aria-hidden="true"></i>
            </button>
          </td>
      </tr>
    </tbody>
  </nz-table>
</div>