<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="importMaterialForm" id="importMaterialForm" (ngSubmit)="saveChanges()" novalidate>
    <div class="row mb-2">
      <div class="col-md-4 col-sm-12">
      </div>
      <div class="col-md-8 col-sm-12 text-right">
      </div>
    </div>
    <nz-card style="width:100%;" nzTitle="Nhập vật tư" formGroupName="mnhapvattu">
      <div class="form-group row">
        <label for="ddlMaKho" class="col-sm-2 col-form-label">Tên kho (*)</label>
        <div class="col-sm-10">
          <select id="ddlMaKho" class="form-control" formControlName="maKho" [ngClass]="{
              'is-valid': !importMaterialForm['controls'].mnhapvattu['controls']['maKho'].errors,
              'is-invalid': importMaterialForm['controls'].mnhapvattu['controls']['maKho'].errors && (importMaterialForm['controls'].mnhapvattu['controls']['maKho'].dirty || importMaterialForm['controls'].mnhapvattu['controls']['maKho'].touched)
            }">
            <option *ngFor="let item of materialStores" [value]="item.maKho">
              {{item.tenKho}}
            </option>
          </select>
          <div class="invalid-feedback">
            <div *ngIf="importMaterialForm.get('mnhapvattu.maKho').hasError('required')">
              Vui lòng chọn tên kho!
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="ddlMaHM" class="col-sm-2 col-form-label">Hạng mục vật tư (*)</label>
        <div class="col-sm-10">
          <select id="ddlMaHM" class="form-control" formControlName="maHM" [ngClass]="{
                'is-valid': !importMaterialForm['controls'].mnhapvattu['controls']['maHM'].errors,
                'is-invalid': importMaterialForm['controls'].mnhapvattu['controls']['maHM'].errors && (importMaterialForm['controls'].mnhapvattu['controls']['maHM'].dirty || importMaterialForm['controls'].mnhapvattu['controls']['maHM'].touched)
              }">
            <option *ngFor="let item of materialItems" [value]="item.maHM">
              {{item.tenHM}}
            </option>
          </select>
          <div class="invalid-feedback">
            <div *ngIf="importMaterialForm.get('mnhapvattu.maHM').hasError('required')">
              Vui lòng chọn hạng mục vật tư!
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="txtNgayNhap" class="col-sm-2 col-form-label">Ngày nhập (*)</label>
        <div class="col-sm-10">
          <input id="txtNgayNhap" type="date" class="form-control" formControlName="ngayNhap" [ngClass]="{
              'is-valid': !importMaterialForm['controls'].mnhapvattu['controls']['ngayNhap'].errors,
              'is-invalid': importMaterialForm['controls'].mnhapvattu['controls']['ngayNhap'].errors && (importMaterialForm['controls'].mnhapvattu['controls']['ngayNhap'].dirty || importMaterialForm['controls'].mnhapvattu['controls']['ngayNhap'].touched)
            }" />
          <div class="invalid-feedback">
            <div *ngIf="importMaterialForm.get('mnhapvattu.ngayNhap').hasError('required')">
              Vui lòng nhập ngày nhập!
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="txtChietKhau" class="col-sm-2 col-form-label">Chiết khấu</label>
        <div class="col-sm-10">
          <input id="txtChietKhau" type="number" class="form-control" formControlName="chietKhau" [ngClass]="{
            'is-valid': !importMaterialForm['controls'].mnhapvattu['controls']['chietKhau'].errors,
            'is-invalid': importMaterialForm['controls'].mnhapvattu['controls']['chietKhau'].errors && (importMaterialForm['controls'].mnhapvattu['controls']['chietKhau'].dirty || importMaterialForm['controls'].mnhapvattu['controls']['chietKhau'].touched)
          }" />
        </div>
      </div>
      <div class="form-group row">
        <label for="txtGhiChu" class="col-sm-2 col-form-label">Ghi chú</label>
        <div class="col-sm-10">
          <textarea id="txtGhiChu" class="form-control" formControlName="ghiChu" [ngClass]="{
            'is-valid': !importMaterialForm['controls'].mnhapvattu['controls']['ghiChu'].errors,
            'is-invalid': importMaterialForm['controls'].mnhapvattu['controls']['ghiChu'].errors && (importMaterialForm['controls'].mnhapvattu['controls']['ghiChu'].dirty || importMaterialForm['controls'].mnhapvattu['controls']['ghiChu'].touched)
          }"></textarea>
        </div>
      </div>
    </nz-card>
    <br />
    <nz-card style="width:100%;" nzTitle="Nhập chi tiết vật tư" formArrayName="listnhapchitiet">
      <div style="overflow-x: auto;">
        <table class="table table-bordered" style="width: 250%;">
          <thead>
            <tr>
              <th>#</th>
              <th>Tên vật tư (*)</th>
              <th>Số lượng (*)</th>
              <th>Đơn giá (*)</th>
              <th>Nước sản xuất</th>
              <th>Hãng sản xuất</th>
              <th>Model</th>
              <th>Seri</th>
              <th>Số khung</th>
              <th>Số máy</th>
              <th>Số đăng ký</th>
              <th>Đợt mua</th>
              <th>Năm sản xuất</th>
              <th>Phân cấp</th>
              <th>Nguồn gốc</th>
              <th>Ghi chú</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of importMaterialForm.get('listnhapchitiet')['controls']; let i = index"
              [formGroupName]="i">
              <td>
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteRow(i, item.value.maVatTu)" [disabled]="importMaterialForm.get('listnhapchitiet')['controls'].length <= 1">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
              <td>
                <select class="form-control" style="width: 200px;" formControlName="maVatTu" [ngClass]="{
                  'is-valid': !importMaterialForm.controls.listnhapchitiet.controls[i].controls['maVatTu'].errors,
                  'is-invalid': importMaterialForm.controls.listnhapchitiet.controls[i].controls['maVatTu'].errors && (importMaterialForm.controls.listnhapchitiet.controls[i].controls['maVatTu'].dirty || importMaterialForm.controls.listnhapchitiet.controls[i].controls['maVatTu'].touched)
                }">
                  <option *ngFor="let material of materials" [value]="material.maVatTu">
                    {{material.tenVT}}
                  </option>
                </select>
                <div class="invalid-feedback">
                  <div *ngIf="item.hasError('required', 'maVatTu')">
                    Vui lòng chọn tên vật tư!
                  </div>
                </div>
              </td>
              <td>
                <input type="number" class="form-control" formControlName="soLuong" [ngClass]="{
                  'is-valid': !importMaterialForm.controls.listnhapchitiet.controls[i].controls['soLuong'].errors,
                  'is-invalid': importMaterialForm.controls.listnhapchitiet.controls[i].controls['soLuong'].errors && (importMaterialForm.controls.listnhapchitiet.controls[i].controls['soLuong'].dirty || importMaterialForm.controls.listnhapchitiet.controls[i].controls['soLuong'].touched)
                }" />
                <div class="invalid-feedback">
                  <div *ngIf="item.hasError('required', 'soLuong')">
                    Vui lòng nhập số lượng!
                  </div>
                </div>
              </td>
              <td>
                <input type="text" class="form-control" formControlName="donGia" [ngClass]="{
                  'is-valid': !importMaterialForm.controls.listnhapchitiet.controls[i].controls['donGia'].errors,
                  'is-invalid': importMaterialForm.controls.listnhapchitiet.controls[i].controls['donGia'].errors && (importMaterialForm.controls.listnhapchitiet.controls[i].controls['donGia'].dirty || importMaterialForm.controls.listnhapchitiet.controls[i].controls['donGia'].touched)
                }" />
                <div class="invalid-feedback">
                  <div *ngIf="item.hasError('required', 'donGia')">
                    Vui lòng nhập số lượng!
                  </div>
                </div>
              </td>
              <td>
                <select class="form-control" style="width: 150px;" formControlName="maNuoc">
                  <option *ngFor="let country of producingCountries" [value]="country.maNuoc">
                    {{country.tenNuoc}}
                  </option>
                </select>
              </td>
              <td>
                <select class="form-control" style="width: 150px;" formControlName="maHang">
                  <option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.maHang">
                    {{manufacturer.tenHang}}
                  </option>
                </select>
              </td>
              <td>
                <input type="text" class="form-control" formControlName="model" />
              </td>
              <td>
                <input type="text" class="form-control" formControlName="seri" />
              </td>
              <td>
                <input type="text" class="form-control" formControlName="soKhung" />
              </td>
              <td>
                <input type="text" class="form-control" formControlName="soMay" />
              </td>
              <td>
                <input type="text" class="form-control" formControlName="soDangKy" />
              </td>
              <td>
                <input type="text" class="form-control" formControlName="dotMua" />
              </td>
              <td>
                <input type="text" class="form-control" formControlName="namSX" />
              </td>
              <td>
                <input type="text" class="form-control" formControlName="phanCap" />
              </td>
              <td>
                <input type="text" class="form-control" formControlName="nguonGoc" />
              </td>
              <td>
                <input type="text" class="form-control" formControlName="ghiChu" />
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="16">
                <button type="button" class="btn btn-success btn-sm" (click)="addRowForMaterialDetail()">
                  <i class="fa fa-plus"></i>
                </button>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </nz-card>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="hideModal()">Hủy</button>
  <button type="submit" class="btn btn-primary" form="importMaterialForm" [disabled]="importMaterialForm.invalid">Lưu</button>
</div>