<table>
  <tr>
    <td style="width: 10%;"><strong>Kho hàng:</strong></td>
    <td style="width: 20%;">{{exportMaterial.tenKho}}</td>
    <td style="width: 15%;"><strong>Hạng mục vật tư:</strong></td>
    <td style="width: 25%;">{{exportMaterial.tenNS}}</td>
    <td style="width: 10%;"><strong>Ngày nhập:</strong></td>
    <td style="width: 20%;">{{exportMaterial.ngayNhap | date:'dd/MM/yyyy'}}</td>
  </tr>
  <tr>
    <td><strong>Chiết khấu:</strong></td>
    <td>{{exportMaterial.chietKhau}}%</td>
    <td><strong>Ghi chú:</strong></td>
    <td colspan="3">{{exportMaterial.ghiChu}}</td>
  </tr>
</table>
<br />
<nz-table #exportDetailTable [nzData]="exportMaterialDetails" nzBordered [nzShowPagination]="false" nzSize="middle">
  <thead>
    <tr>
      <th class="text-center" nzWidth="30%">Vật tư</th>
      <th class="text-center" nzWidth="15%">Mã PN</th>
      <th class="text-center" nzWidth="10%">ĐVT</th>
      <th class="text-center" nzWidth="15%">Ghi chú</th>
      <th class="text-center" nzWidth="10%">SL xuất</th>
      <th class="text-center" nzWidth="10%">Đơn giá</th>
      <th class="text-center" nzWidth="10%">Thành tiền</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of exportDetailTable.data">
      <td>{{data.tenVT}}</td>
      <td class="text-center">{{data.maPhieuNhap}}</td>
      <td class="text-center">{{data.tenDVT}}</td>
      <td>{{data.ghiChu}}</td>
      <td class="text-center">{{data.soLuongXuat}}</td>
      <td class="text-right">{{data.donGia | number: '1.0-0'}}</td>
      <td class="text-right">{{(data.soLuongXuat * data.donGia) | number: '1.0-0'}}</td>
    </tr>
    <tr class="bg-footer-price">
      <td colspan="6" class="text-right">
        <strong>Tổng cộng:</strong>
      </td>
      <td class="text-right">
        <strong>{{totalAmount | number: '1.0-0'}}</strong>
      </td>
    </tr>
    <tr class="bg-footer-price">
      <td colspan="6" class="text-right">Giảm trừ {{discount}}%:</td>
      <td class="text-right">{{discountPrice | number: '1.0-0'}}</td>
    </tr>
    <tr class="bg-footer-price">
      <td colspan="6" class="text-right">
        <strong>Giá trị thực:</strong>
      </td>
      <td class="text-right">
        <strong>{{totalAmountAfterDiscount | number: '1.0-0'}}</strong>
      </td>
    </tr>
  </tbody>
</nz-table>