<nz-breadcrumb style="margin:16px 0;">
  <nz-breadcrumb-item>Thống kê báo cáo</nz-breadcrumb-item>
  <nz-breadcrumb-item>Thống kê thanh lý</nz-breadcrumb-item>
</nz-breadcrumb>

<div style="padding:24px; background: #fff; min-height: 70vh">
  <div nz-row nzGutter="16">
    <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
      <nz-select style="width: 100%;" nzShowSearch nzAllowClear nzPlaceHolder="Chọn kho" [(ngModel)]="storeId"
        (ngModelChange)="changeMaterialStores($event)">
        <nz-option *ngFor="let item of materialStores" [nzValue]="item.maKho" [nzLabel]="item.tenKho">
        </nz-option>
      </nz-select>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
      <nz-select style="width: 100%;" nzShowSearch nzAllowClear nzPlaceHolder="Chọn hạng mục" [(ngModel)]="itemId"
        (ngModelChange)="changeMaterialItems($event)">
        <nz-option *ngFor="let item of materialItems" [nzValue]="item.maHM" [nzLabel]="item.tenHM">
        </nz-option>
      </nz-select>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
      <nz-select style="width: 100%;" nzShowSearch nzAllowClear nzPlaceHolder="Chọn loại vật tư" [(ngModel)]="typeId"
        (ngModelChange)="changeMaterialTypes($event)">
        <nz-option *ngFor="let item of materialTypes" [nzValue]="item.maLoaiVatTu" [nzLabel]="item.tenLoai">
        </nz-option>
      </nz-select>
    </div>
  </div>
  <br />
  <div nz-row nzGutter="16">
    <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
      <input nz-input type="date" class="from-date" placeholder="Từ ngày" [(ngModel)]="statisticParams.fromDate">
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
      <input nz-input type="date" class="to-date" placeholder="Đến ngày" [(ngModel)]="statisticParams.toDate">
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
      <button nz-button nzType="primary" nzSearch (click)="search()" style="margin-right: 1rem;">
        <i nz-icon type="search"></i> Tìm kiếm
      </button>
      <button nz-button nzType="default" (click)="refresh()">
        <i nz-icon type="sync" theme="outline"></i> Làm mới tìm kiếm
      </button>
    </div>
  </div>
  <br />
  <nz-table #table [nzData]="dataSet" [nzLoading]="loading" [nzNoResult]="'Không tìm thấy kết quả.'" nzSize="middle">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzWidth="40%" nzShowSort nzSortKey="tenVT" nzCustomFilter>Tên vật tư
          <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter #dropdown1>
            <i nz-icon nzType="search" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown1.nzVisible"
              nz-dropdown></i>
            <div class="search-box">
              <input type="text" nz-input placeholder="Tìm tên vật tư" [(ngModel)]="searchValue"
                (keyup.enter)="searchColumn('tenVT')">
              <button [disabled]="!searchValue" nz-button nzSize="small" nzType="primary"
                (click)="searchColumn('tenVT')" class="search-button">Tìm</button>
              <button [disabled]="!searchValue" nz-button nzSize="small" (click)="reset()">Reset</button>
            </div>
          </nz-dropdown>
        </th>
        <th nzWidth="20%" nzShowSort nzSortKey="tongLuongThanhLy" nzCustomFilter>Tổng lượng thanh lý
          <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter #dropdown2>
            <i nz-icon nzType="search" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown2.nzVisible"
              nz-dropdown></i>
            <div class="search-box">
              <input type="text" nz-input placeholder="Tìm tổng lượng thanh lý" [(ngModel)]="searchValue"
                (keyup.enter)="searchColumn('tongLuongThanhLy')">
              <button [disabled]="!searchValue" nz-button nzSize="small" nzType="primary"
                (click)="searchColumn('tongLuongThanhLy')" class="search-button">Tìm</button>
              <button [disabled]="!searchValue" nz-button nzSize="small" (click)="reset()">Reset</button>
            </div>
          </nz-dropdown>
        </th>
        <th nzWidth="20%"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of table.data">
        <td>{{data.tenVT}}</td>
        <td>{{data.tongLuongThanhLy}}</td>
        <td class="decrease-row">
          <nz-button-group>
            <button [routerLink]="['/thong-ke-bao-cao/thong-ke-thanh-ly/xem-chi-tiet', data.maVatTu]"
              [queryParams]="{fromDate: statisticParams.fromDate, toDate: statisticParams.toDate}" nz-button
              nzType="default" class="btn-primary" nz-tooltip nzTitle="Xem">
              <i nz-icon type="eye" theme="outline"></i>
            </button>
          </nz-button-group>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>